
<div class="full-height m-t-40">
    <!-- TABLES VIEW -->
    <div class="container-fluid container-fixed-lg">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
            <div class="panel-heading">
                <div class="panel-title">Master Product
                </div>
                <div class="pull-right" style="width: 60%;">
                    <button id="show-modal" class="btn btn-primary btn-cons pull-right" ng-click="openQuickView('add')" ng-show="buttonCreate"><i class="fa fa-plus"></i> Add Item</button>

                    <div class="input-group date col-sm-4 pull-right m-r-10">
                        <input type="text" id="search-table" class="form-control pull-right" placeholder="Search" ng-keyup="filter('search',$event)" ng-model="filterVal.search">
                    </div>

                </div>
                <div class="clearfix"></div>
                <div class="tools">
                    <a class="collapse" href="javascript:;"></a>
                    <a class="config" data-toggle="modal" href="#grid-config"></a>
                    <a class="reload" href="javascript:;"></a>
                    <a class="remove" href="javascript:;"></a>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover table-condensed " datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance">
                    </table>
            </div>
        </div>
    </div>
    <!-- END PANEL -->
</div>

<!--START FORM INPUT-->
<div class="modal fade slide-right form-input-medium" id="form-input" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content-wrapper">
      <div class="modal-content" style="background-image: url('pages/mtbgform.png');">
      <div class="panel-heading">
       <div class="panel-title">Product Information</div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
        </button>
       </div>
        <div class="container-xs-height full-height">
          <div class="row-xs-height">
            <div class="modal-body col-xs-height col-top">

      <!-- START FORM -->
      <div class="panel panel-transparent m-t-20">
          <form id="form-user" role="form" autocomplete="off" name="dodol" novalidate>
              <div class="row clearfix">
                  <div class="col-sm-12">
                      <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : product.name.$invalid && !product.name.$pristine }">
                          <label>Name</label>
                          <input type="text" class="form-control" name="name" ng-model="product.name" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-12">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : product.description.$invalid && !product.description.$pristine }">
                          <label>Description</label>
                          <input type="text" class="form-control" name="description" ng-model="product.description" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element >
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-6">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : product.code.$invalid && !product.code.$pristine }">
                          <label>Code</label>
                          <input type="text" class="form-control" name="code" ng-model="product.code" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : product.barcode.$invalid && !product.barcode.$pristine }">
                          <label>Barcode</label>
                          <input type="text" class="form-control" name="barcode" ng-model="product.barcode" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-6">
                      <div pg-form-group class="form-group form-group-default form-group-default-select  required" ng-class="{ 'has-error' : selected.category_id.selected.$invalid && !selected.category_id.selected.$pristine }">
                          <label>Category</label>
                          <ui-select ng-model="selected.category_id.selected" theme="bootstrap" on-select="getSubCategory($item)" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element required>
                              <ui-select-match placeholder="Select Category">{{$select.selected.name}}</ui-select-match>
                              <ui-select-choices repeat="item in arr.category_id | filter: $select.search">
                                  <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                              </ui-select-choices>
                          </ui-select>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div pg-form-group class="form-group form-group-default form-group-default-select  required" ng-class="{ 'has-error' : selected.subcategory_id.selected.$invalid && !selected.subcategory_id.selected.$pristine }">
                          <label>Sub Category</label>
                          <ui-select ng-model="selected.subcategory_id.selected" theme="bootstrap" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element required>
                              <ui-select-match placeholder="Select Sub Category">{{$select.selected.name}}</ui-select-match>
                              <ui-select-choices repeat="item in arr.subcategory_id | filter: $select.search">
                                  <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                              </ui-select-choices>
                          </ui-select>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-6">
                      <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : product.minimum_stock.$invalid && !product.available_stock.$pristine }">
                          <label>Minimum Stock</label>
                          <input type="text" class="form-control" name="minimum_stock" ng-model="product.minimum_stock" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element >
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : product.maximum_stock.$invalid && !product.maximum_stock.$pristine }">
                          <label>Maximum Stock</label>
                          <input type="text" class="form-control" name="maximum_stock" ng-model="product.maximum_stock" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element >
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-6">
                      <div pg-form-group class="form-group form-group-default form-group-default-select  required" ng-class="{ 'has-error' : selected.status.selected.$invalid && !selected.status.selected.$pristine }">
                          <label>Status</label>
                          <ui-select ng-model="selected.status.selected" theme="bootstrap" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element required>
                              <ui-select-match placeholder="select">{{$select.selected.name}}</ui-select-match>
                              <ui-select-choices repeat="item in arr.status | filter: $select.search">
                                  <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                              </ui-select-choices>
                          </ui-select>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div pg-form-group class="form-group form-group-default form-group-default-select  required" ng-class="{ 'has-error' : selected.is_stockable.$invalid && !selected.is_stockable.$pristine }">
                          <label>Is Stockable</label>
                          <ui-select ng-model="selected.is_stockable.selected" theme="bootstrap" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element required>
                              <ui-select-match placeholder="select">{{$select.selected.name}}</ui-select-match>
                              <ui-select-choices repeat="item in arr.active | filter: $select.search">
                                  <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                              </ui-select-choices>
                          </ui-select>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-6">
                      <div pg-form-group class="form-group form-group-default form-group-default-select  required" ng-class="{ 'has-error' : selected.unit_type_id.selected.$invalid && !selected.unit_type_id.selected.$pristine }">
                          <label>Unit Type</label>
                          <ui-select ng-model="selected.unit_type_id.selected" theme="bootstrap" on-select="setUnit($item)" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element required>
                              <ui-select-match placeholder="Select Unit">{{$select.selected.name}}</ui-select-match>
                              <ui-select-choices repeat="item in arr.unit_type_id | filter: $select.search">
                                  <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                              </ui-select-choices>
                          </ui-select>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : product.price_per_unit.$invalid && !product.price_per_unit.$pristine }">
                          <label>Price Per Unit</label>
                          <input type="text" class="form-control" name="price_per_unit" ng-model="product.price_per_unit" ng-keyup="setPriceUnit()" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element >
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-6">
                      <div pg-form-group class="form-group form-group-default form-group-default-select  required" ng-class="{ 'has-error' : selected.is_pr.$invalid && !selected.is_pr.$pristine }">
                          <label>Listed in PR</label>
                          <ui-select ng-model="selected.is_pr.selected" theme="bootstrap" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element required>
                              <ui-select-match placeholder="select">{{$select.selected.name}}</ui-select-match>
                              <ui-select-choices repeat="item in arr.active | filter: $select.search">
                                  <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                              </ui-select-choices>
                          </ui-select>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div pg-form-group class="form-group form-group-default form-group-default-select  required" ng-class="{ 'has-error' : selected.is_ml.selected.$invalid && !selected.is_ml.selected.$pristine }">
                          <label>Listed in ML</label>
                          <ui-select ng-model="selected.is_ml.selected" theme="bootstrap" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element required>
                              <ui-select-match placeholder="select">{{$select.selected.name}}</ui-select-match>
                              <ui-select-choices repeat="item in arr.active | filter: $select.search">
                                  <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                              </ui-select-choices>
                          </ui-select>
                      </div>
                  </div>
              </div>
              <!--<div class="row clearfix">
                  <div class="col-sm-6">
                      <div pg-form-group class="form-group form-group-default form-group-default-select  required" ng-class="{ 'has-error' : selected.is_production.$invalid && !selected.is_production.$pristine }">
                          <label>Is Production</label>
                          <ui-select ng-model="selected.is_production.selected" theme="bootstrap" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element required>
                              <ui-select-match placeholder="select">{{$select.selected.name}}</ui-select-match>
                              <ui-select-choices repeat="item in arr.active | filter: $select.search">
                                  <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                              </ui-select-choices>
                          </ui-select>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div pg-form-group class="form-group form-group-default form-group-default-select  required" ng-class="{ 'has-error' : selected.is_material.selected.$invalid && !selected.is_material.selected.$pristine }">
                          <label>Is Material</label>
                          <ui-select ng-model="selected.is_material.selected" theme="bootstrap" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element required>
                              <ui-select-match placeholder="select">{{$select.selected.name}}</ui-select-match>
                              <ui-select-choices repeat="item in arr.active | filter: $select.search">
                                  <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                              </ui-select-choices>
                          </ui-select>
                      </div>
                  </div>
              </div>-->
              <div class="row clearfix">
                  <div class="col-sm-4">
                      <div pg-form-group class="form-group form-group-default form-group-default-select" ng-class="{ 'has-error' : product.lowest_unit_type_id.$invalid && !product.lowest_unit_type_id.$pristine }">
                          <label>Lowest Unit</label>
                          <ui-select ng-model="selected.lowest_unit_type_id.selected" theme="bootstrap" >
                              <ui-select-match placeholder="Select Lowest Unit">{{$select.selected.name}}</ui-select-match>
                              <ui-select-choices repeat="item in arr.recipe_unit_type_id | filter: $select.search">
                                  <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                              </ui-select-choices>
                          </ui-select>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : product.lowest_unit_conversion.$invalid && !product.lowest_unit_conversion.$pristine }">
                          <label>Conversion</label>
                          <input type="text" class="form-control" name="lowest_unit_conversion" ng-model="product.lowest_unit_conversion" ng-keyup="setConversion('lowest')" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element >
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : product.price_per_lowest_unit.$invalid && !product.price_per_lowest_unit.$pristine }">
                          <label>Price Per Lowest Unit</label>
                          <input type="text" class="form-control" name="price_per_lowest_unit" ng-model="product.price_per_lowest_unit" ng-readonly="true" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element >
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-4">
                      <div pg-form-group class="form-group form-group-default form-group-default-select" ng-class="{ 'has-error' : product.recipe_unit_type_id.$invalid && !product.recipe_unit_type_id.$pristine }">
                          <label>Recipe Unit</label>
                          <ui-select ng-model="selected.recipe_unit_type_id.selected" theme="bootstrap" >
                              <ui-select-match placeholder="Select Recipe Unit">{{$select.selected.name}}</ui-select-match>
                              <ui-select-choices repeat="item in arr.recipe_unit_type_id | filter: $select.search">
                                  <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                              </ui-select-choices>
                          </ui-select>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : product.recipe_unit_conversion.$invalid && !product.recipe_unit_conversion.$pristine }">
                          <label>Conversion</label>
                          <input type="text" class="form-control" name="recipe_unit_conversion" ng-model="product.recipe_unit_conversion" ng-keyup="setConversion('recipe')" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element >
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : product.price_per_recipe_unit.$invalid && !product.price_per_recipe_unit.$pristine }">
                          <label>Price Per Recipe</label>
                          <input type="text" class="form-control" name="price_per_recipe_unit" ng-model="product.price_per_recipe_unit" ng-readonly="true" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element >
                      </div>
                  </div>
              </div>

              <br>
              <div class="clearfix"></div>
              <button class="btn btn-primary" type="submit" ng-disabled="dodol.$invalid" ng-click="submit()" >Save</button>
              <button class="btn btn-default"><i class="pg-close"></i> Clear</button>
          </form>
      </div>
      <!-- END FORM -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!--END FORM INPUT-->

<!-- START MODAL CONTENT-->
<div class="modal fade slide-up disable-scroll" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-body text-center m-t-20">
                    <h4 class="no-margin p-b-10">Are you sure want to delete {{product.name}} ?</h4>
                    <div >
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="execDelete()">Yes</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- END MODAL CONTENT-->
