<div id="printSection">
    <div class="row">
        <h2 align="center">G/L Transaction</h2>
        <br>
        <table width="98%" align="center">
          <tr>
            <td style="text-align:left" width="15%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Journal Code</td>
            <td style="text-align:right" width="1%">:</td>
            <td style="text-align:left" width="25%">{{selected.journal_type.selected.name}}</td>
            <td style="text-align:left" width="15%">Document No</td>
            <td style="text-align:right" width="1%">:</td>
            <td style="text-align:left" width="25%">{{ap.code}}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date</td>
            <td>:</td>
            <td>{{ap.bookkeeping_date}}</td>
            <td>Status</td>
            <td>:</td>
            <td>{{selected.status.selected.name}}</td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ref Account</td>
            <td>:</td>
            <td>{{ap.ref_account}}</td>
            <td>Notes</td>
            <td>:</td>
            <td>{{ap.notes}}</td>
            </td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Debit</td>
            <td>:</td>
            <td>{{ap.debit|number: fractionSize}}</td>
            <td>Credit</td>
            <td>:</td>
            <td>{{ap.credit|number: fractionSize}}</td>
            </td>
          </tr>
        </table>
        <br>
        <table width="89%" cellpadding="5" border="1" align="center">
            <thead>
				<tr>
					<th width="10%" style="text-align:center">Account ID</th>
					<th width="30%" style="text-align:center">Account Name</th>
					<th width="30%" style="text-align:center">Notes</th>
					<th width="10%" style="text-align:center">Debit</th>
					<th width="10%" style="text-align:center">Credit</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="item in items | filter:filterUser">
					<td >
						{{item.account_code}}
					</td>
					<td><span>{{item.account_name}}</span></td>
					<td >
							{{ item.notes }}
					</td>
					<td style="text-align:right">
							{{ item.debit|number:fractionSize }}
					</td>
					<td style="text-align:right">
							{{ item.credit |number:fractionSize}}
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td><b>Total</b></td>
					<td style="text-align:right"><span><b>{{total_debit|number:fractionSize}}</b></span></td>
					<td style="text-align:right"><span><b>{{total_credit|number:fractionSize}}</b></span></td>
				</tr>
				</tbody>
        </table>
        <table width="89%" border="0" align="center">
            <br>
            <tr>
                <td align="center">
                    Prepared by
                </td>
                <td>&nbsp;</td>
                <td align="center">
                    Reviewed by
                </td>
                <td>&nbsp;</td>
                <td align="center">
                    Approved by
                </td>
            </tr>
            <tr height="100px">
                <td style="border-bottom:1pt solid black;padding-right:15px;padding-left:15px;">
                </td>
                <td>&nbsp;</td>
                <td style="border-bottom:1pt solid black;padding-right:15px;padding-left:15px;">
                </td>
                <td>&nbsp;</td>
                <td style="border-bottom:1pt solid black;padding-right:15px;padding-left:15px;">
                </td>
            </tr>
            <tr>
                <td align="center">
                    General Cashier
                </td>
                <td>&nbsp;</td>
                <td align="center">
                    Chief Accountant
                </td>
                <td>&nbsp;</td>
                <td align="center">
                    Fincancial Controller
                </td>
            </tr>
        </table>
        <br><br><br><br>
    </div>
</div>

<div class="full-height m-t-40">
    <!-- TABLES VIEW -->
    <div class="container-fluid container-fixed-lg">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
            <div class="panel-heading">
                <div class="panel-title">G/L Transaction
                </div>
                <div class="pull-right" style="width: 100%;">

                    <button id="show-modal2" class="btn btn-primary pull-right" ng-click="openAdvancedFilter(true)" ng-show="buttonCreate"><i class="fa fa-search"></i></button>
                    <button id="show-modal" class="btn btn-primary btn-cons pull-right" ng-click="openQuickView('add')" ng-show="buttonCreate"><i class="fa fa-plus"></i> Add Transaction</button>
                    <span ng-click="exportExcel()">
                        <div excel-export export-data="exportData" file-name="{{fileName}}" class="pull-right m-r-5" control="focusinControl" ></div>
                    </span>
                    <!--<button class="btn btn-primary" ng-print print-element-id="printThisElement" ng-click="printing=false"><i class="fa fa-print"></i> Print</button>-->


                    <!--<div class="input-group date col-sm-6 pull-right m-r-10">
                        <input type="text" id="search-table" class="form-control pull-right" placeholder="Search" ng-keyup="filter('search',$event)" ng-model="filterVal.search">


                    </div>-->



                     <!--<div class="btn-group pull-right lDate2 m-r-5" style="width: 100px;" >
                         <ui-select ng-model="selected.endperiod.selected" theme="bootstrap" >
                             <ui-select-match placeholder="end">{{$select.selected.name}}</ui-select-match>
                             <ui-select-choices repeat="item in period | filter: $select.search">
                                 <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                             </ui-select-choices>
                         </ui-select>

                     </div>
                     <div class="btn-group  pull-right lDate2 m-r-5"style="width: 100px;" >
                         <ui-select ng-model="selected.startperiod.selected" theme="bootstrap" >
                             <ui-select-match placeholder="start">{{$select.selected.name}}</ui-select-match>
                             <ui-select-choices repeat="item in period | filter: $select.search">
                                 <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                             </ui-select-choices>
                         </ui-select>

                     </div>-->


                </div>
                <div class="clearfix"></div>
                <div class="tools">
                    <a class="collapse" href="javascript:;"></a>
                    <a class="config" data-toggle="modal" href="#grid-config"></a>
                    <a class="reload" href="javascript:;"></a>
                    <a class="remove" href="javascript:;"></a>
                </div>


                <div class="panel panel-default m-t-5" pg-portlet ng-show="showAdvance">
                    <div class="panel-heading">
                        <div class="panel-title">Advanced Search
                        </div>
                        <div class="panel-controls">
                            <ul>
                                <li><a href="" ng-click="openAdvancedFilter(false)"><i class="portlet-icon portlet-icon-close"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body" >
                        <div class="btn-group pull-left m-r-5">
                            <label>Period:</label><br />
                            <div class="btn-group form-group-default-select pull-left  m-r-5">
                                <ui-select ng-model="selected.filter_month.selected" theme="bootstrap"  >
                                    <ui-select-match placeholder="Select Month">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in listMonth | filter: $select.search">
                                        <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="btn-group form-group-default-select pull-left  m-r-5">
                                <ui-select ng-model="selected.filter_year.selected" theme="bootstrap"  >
                                    <ui-select-match placeholder="Select Year">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in listYear | filter: $select.search">
                                        <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                         </div>
                         <div class="btn-group form-group-default-select pull-left  m-r-5">
                             <label>Journal Type</label><br />
                             <ui-select ng-model="selected.filter_journal.selected" theme="bootstrap" style="width: 200px;" >
                                 <ui-select-match placeholder="Pick Journal">{{$select.selected.code}}</ui-select-match>
                                 <ui-select-choices repeat="item in journal_type | filter: $select.search">
                                     <div ng-bind-html="trustAsHtml((item.code | highlight: $select.search))"></div>
                                     <small ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></small>
                                 </ui-select-choices>
                             </ui-select>
                          </div>
                        <div class="btn-group dropdown-default pull-left  m-r-5">
                            <label>Status:</label><br />
                            <ui-select ng-model="selected.filter_status.selected" theme="select2" style="width: 200px;" >
                                <ui-select-match placeholder="Filter Status...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item in status | filter: $select.search">
                                    <div ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></div>
                                </ui-select-choices>
                            </ui-select>
                         </div>
                         <!--<div class="btn-group form-group-default-select pull-left  m-r-5">
                            <label>Source:</label><br />
                            <ui-select ng-model="selected.filter_source.selected" theme="bootstrap"  >
                                <ui-select-match placeholder="Select Source">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item in listSource | filter: $select.search">
                                    <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>-->


                         <div class="btn-group dropdown-default  m-r-5" >
                             <label>&nbsp;</label><br />
                           <button id="show-modal" class="btn btn-primary pull-right" ng-click="applyFilter()" ><i class="fa fa-search"></i> Apply</button>
                          </div>



                        <!--<div class="input-prepend input-group date col-sm-4 pull-right m-r-5" style="width: 250px;" >
                          <input date-range-picker type="text" placeholder="filter due date" class="form-control date-picker lDate">
                          <span class="add-on input-group-addon bDate"><i class="fa fa-calendar"></i></span>
                      </div>-->



                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive" id="printThisElement">
                    <table class="table table-hover table-condensed " datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" width="2000px">
                    </table>
            </div>
        </div>
    </div>
    <!-- END PANEL -->
</div>

<!--START FORM INPUT-->
<div class="modal fade slide-right form-input-full" id="form-input" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content-wrapper">
      <div class="modal-content" style="background-image: url('pages/mtbgform.png');">
      <div class="panel-heading">
       <div class="panel-title">Detail Transaction</div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
        </button>
       </div>
        <div class="container-xs-height full-height">
          <div class="row-xs-height">
            <div class="modal-body col-xs-height col-top">

      <!-- START FORM -->
      <div class="panel panel-transparent m-t-20">
          <form id="form-user" role="form" autocomplete="off" name="dodol" novalidate>
              <div class="row clearfix">
                  <div class="col-sm-4">
                      <div pg-form-group class="form-group form-group-default form-group-default-select  required" ng-class="{ 'has-error' : selected.journal_type.selected.$invalid && !selected.journal_type.selected.$pristine }">
                          <label>Journal Code</label>
                          <ui-select ng-model="selected.journal_type.selected" theme="bootstrap" validate-attached-form-element required on-select="generateCode($item)" ng-disabled="updateflag">
                              <ui-select-match placeholder="select type">{{$select.selected.name}}</ui-select-match>
                              <ui-select-choices repeat="item in journal_type | filter: $select.search">
                                  <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                              </ui-select-choices>
                          </ui-select>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : ap.code.$invalid && !ap.code.$pristine }">
                          <label>Document No</label>
                          <input type="text" class="form-control" name="name" ng-model="ap.code" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required ng-readonly="true">
                      </div>
                  </div>

                  <div class="col-sm-4">
                      <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : ap.bookkeeping_date.$invalid && !ap.bookkeeping_date.$pristine }">
                          <label>Date</label>
                          <input type="text" class="form-control" ng-model="ap.bookkeeping_date" id="openDate" name="bookkeeping_date" placeholder="Pick a date" ui-jq="datepicker" data-date-format="yyyy-mm-dd" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required >
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                <div class="col-sm-4">
                    <div pg-form-group class="form-group form-group-default form-group-default-select  required" ng-class="{ 'has-error' : selected.status.selected.$invalid && !selected.status.selected.$pristine }">
                        <label>Status</label>
                        <ui-select ng-model="selected.status.selected" theme="bootstrap" validate-attached-form-element required>
                            <ui-select-match placeholder="select status">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item in statusShow | filter: $select.search">
                                <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div pg-form-group class="form-group form-group-default " >
                        <label>Notes</label>
                        <input type="text" class="form-control" name="notes" ng-model="ap.notes" >
                    </div>
                </div>
                <div class="col-sm-4">
                    <div pg-form-group class="form-group form-group-default " >
                        <label>Ref. Account</label>
                        <input type="text" class="form-control" name="ref_account" ng-model="ap.ref_account" >
                    </div>
                </div>
              </div>

              <div class="row clearfix">
                  <div class="col-sm-4">
                      <div pg-form-group class="form-group form-group-default" >
                          <label>Debit</label>
                          <input type="text" format="number" class="form-control" name="debit" ng-model="ap.debit" ng-readonly="true">
                      </div>
                  </div>
                <div class="col-sm-4">
                    <div pg-form-group class="form-group form-group-default" >
                        <label>Credit</label>
                        <input type="text" format="number" class="form-control" name="credit" ng-model="ap.credit" ng-readonly="true">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div pg-form-group class="form-group form-group-default" >
                        <label>Balance</label>
                        <input type="text" format="number" class="form-control" name="balance" ng-model="ap.balance" ng-readonly="true">
                    </div>
                </div>
              </div>
              <div ng-controller="EditableTableApvCtrl" ng-form editable-form name="tableform" onaftersave="child.saveTable()" oncancel="cancel()" >
                                    <!-- table -->
                                    <table class="table  table-hover itemtable">
                                        <thead>
                                        <tr>
                                            <th width="3%"><span ng-show="tableform.$visible">Action</span></th>
                                            <th width="15%">Account ID</th>
                                            <th width="15%">Account Name</th>
                                            <th width="20%">Notes</th>
                                            <th width="10%">Debit</th>
                                            <th width="10%">Credit</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in items | filter:filterUser">
                                            <td style="vertical-align: middle;">
                                                <div class="btn-group btn-group-xs" ng-show="tableform.$visible">
                                                    <button type="button" class="btn btn-default" title="Delete" ng-click="deleteUser(item.id)" ><i class="fa fa-trash-o"></i></button>
                                                </div>
                                            </td>
                                            <td >
                                                <!--<span editable-text="item.product_name" e-form="tableform" onbeforesave="checkName($data, user.id)" style="width:100%;">
                                                    {{ item.product_name }}
                                                </span>-->
                                                <span editable-ui-select="item.account_code" theme="bootstrap" data-e-name="account_code" name="account" data-e-ng-model="selected.account.selected"
                                                data-e-form="tableform" data-e-ng-keyup="accountUp(item.id,$select.search)" data-e-on-select="getAccount($item,item.id)" >
                                                {{item.account_code}}
                                                      <editable-ui-select-match placeholder="select account" style="width: 400px;" >
                                                          <!--{{$select.selected.name}}-->
                                                          {{item.account_code || 'Empty'}}
                                                      </editable-ui-select-match>
                                                      <editable-ui-select-choices repeat="d in account[item.id] | filter: $select.search">
                                                          <div ng-bind-html="trustAsHtml((d.code | highlight: $select.search))"></div>
                                                          <small ng-bind-html="trustAsHtml((d.name | highlight: $select.search))"></small>
                                                      </editable-ui-select-choices>
                                                </span>
                                            </td>
                                            <td><span>{{item.account_name}}</span></td>
                                            <td >
                                                <span editable-textarea="item.notes" e-form="tableform" data-e-ng-keyup="setValue($event,item.id,$data,'notes')">
                                                    {{ item.notes }}
                                                </span>
                                            </td>
                                            <td style="text-align:right">
												<!--<input type="text" format="number" e-form="tableform" name="debit" ng-model="item.debit" data-e-ng-keyup="setValue($event,item.id,$data,'debit')" >-->
												</span>
                                                <span editable-text="item.debit" format="number" e-form="tableform" data-e-ng-keyup="setValue($event,item.id,$data,'debit')" >
                                                    {{ item.debit|number:fractionSize }}
                                                </span>
                                            </td>
                                            <td style="text-align:right">
												<!--<input type="text" format="number" e-form="tableform" name="credit" ng-model="item.credit" data-e-ng-keyup="setValue($event,item.id,$data,'credit')">-->
                                                <span editable-text="item.credit" format="number" e-form="tableform" data-e-ng-keyup="setValue($event,item.id,$data,'credit')">
                                                    {{ item.credit |number:fractionSize}}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                            <td>Total</td>
                                            <td style="text-align:right"><span>{{total_debit|number:fractionSize}}</span></td>
                                            <td style="text-align:right"><span>{{total_credit|number:fractionSize}}</span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- buttons -->
                                    <div class="btn-edit">
                                      <button type="button" class="btn btn-primary" ng-show="!tableform.$visible && selected.status.selected.id==0" ng-click="tableform.$show()">
                                        Modify Item List
                                      </button>
                                    </div>
                                    <p ng-if="ap.balance!=0" class="small" style="color:red"><i>(*) Cannot Save,Debit and Credit is not Balance</i></p>
                                    <div class="btn-form" ng-show="tableform.$visible">
                                      <button type="submit" ng-disabled="tableform.$waiting " ng-click="tableform.$hide();" class="btn btn-primary"> Save Item</button>
                                      <button type="button" ng-disabled="tableform.$waiting" ng-click="addUser()" class="btn btn-primary "> Add New Item</button>
                                      <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn btn-default">Cancel</button>
                                    </div>
              </div>
              <br>
              <div class="clearfix"></div>
			  <input type="file" ng-model-instant id="fileToUpload" onchange="angular.element(this).scope().setFiles(this)" />
			  <div ng-show="files.length">
				 <div ng-repeat="file in files.slice(0)">
					 <span>{{file.webkitRelativePath || file.name}}</span>
					 (<span ng-switch="file.size > 1024*1024">
						 <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
						 <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
					 </span>)
				 </div>
				 <input type="button" ng-click="uploadFile()" value="Upload" />
				 <div ng-show="progressVisible">
					 <div class="percent">{{progress}}%</div>
					 <div class="progress-bar">
						 <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
					 </div>
				 </div>
			  </div>
              <button class="btn btn-primary" type="submit" ng-disabled="ap.balance!=0||dodol.$invalid||disableAction " ng-click="submit()" >Save</button>
			  <button class="btn btn-primary" type="submit" ng-print print-element-id="printSection" ng-click="printing=false"><i class="fa fa-print"></i> Print</button>
              <button class="btn btn-default"><i class="pg-close"></i> Clear</button>
          </form>
      </div>
      <!-- END FORM -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!--END FORM INPUT-->

<!-- START MODAL CONTENT-->
<div class="modal fade slide-up disable-scroll" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-body text-center m-t-20">
                    <h4 class="no-margin p-b-10">Are you sure want to delete {{cat.code}} ?</h4>
                    <div >
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="execDelete()">Yes</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<!-- END MODAL CONTENT-->
