
<div class="full-height m-t-40">
    <!-- TABLES VIEW -->
    <div class="container-fluid container-fixed-lg">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
            <div class="panel-heading">
                <div class="panel-title">Warehouse Stock Opname
                </div>
                <div class="pull-right" style="width: 60%;">
                    <button id="show-modal" class="btn btn-primary btn-cons pull-right" ng-click="openQuickView('add')" ng-show="buttonCreate"><i class="fa fa-plus"></i> Add Category</button>

                    <div class="input-group date col-sm-4 pull-right m-r-10">
                        <input type="text" id="search-table" class="form-control pull-right" placeholder="Search" ng-keyup="filter('search',$event)" ng-model="filterVal.search">
                    </div>

                </div>
                <div class="clearfix"></div>
                <div class="tools">
                    <a class="collapse" href="javascript:;"></a>
                    <a class="config" data-toggle="modal" href="#grid-config"></a>
                    <a class="reload" href="javascript:;"></a>
                    <a class="remove" href="javascript:;"></a>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover table-condensed " datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance">
                    </table>
                </div>
                <!--<div >
                    <table class="table table-hover table-condensed " datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" width="100%">
                    </table>
                </div>-->
            </div>
        </div>
    <!-- END PANEL -->
    </div>

<div class="modal fade slide-right form-input-full" id="form-input" tabindex="-1" role="dialog" aria-hidden="true" style="overflow-y:scroll;">
  <div class="modal-dialog modal-sm">
    <div class="modal-content-wrapper">
      <div class="modal-content" style="background-image: url('pages/mtbgform.png');">
      <div class="panel-heading">
       <div class="panel-title">Stock Information</div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
        </button>
       </div>
        <div class="container-xs-height full-height">
          <div class="row-xs-height">
            <div class="modal-body col-xs-height col-top">

      <!-- START FORM -->
      <div class="panel panel-transparent m-t-20">
          <form id="form-user" role="form" autocomplete="off" name="dodol" novalidate>
              <div class="row clearfix">
                  <div class="col-sm-4">
                      <div pg-form-group class="form-group form-group-default form-group-default-select  required" ng-class="{ 'has-error' : so.warehouse_id.$invalid && !so.warehouse_id.$pristine }">
                          <label>Warehouse</label>
                          <ui-select ng-model="selected.warehouse.selected" theme="bootstrap" >
                              <ui-select-match placeholder="select status">{{$select.selected.name}}</ui-select-match>
                              <ui-select-choices repeat="item in warehouseDetail | filter: $select.search">
                                  <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                              </ui-select-choices>
                          </ui-select>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div pg-form-group class="form-group form-group-default form-group-default-select  required" ng-class="{ 'has-error' : so.cost_center_id.$invalid && !so.cost_center_id.$pristine }">
                          <label>Cost Center</label>
                          <ui-select ng-model="selected.cost_center.selected" theme="bootstrap" >
                              <ui-select-match placeholder="select status">{{$select.selected.name}}</ui-select-match>
                              <ui-select-choices repeat="item in costCenterDetail | filter: $select.search">
                                  <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                              </ui-select-choices>
                          </ui-select>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : so.code.$invalid && !so.code.$pristine }">
                          <label>Code</label>
                          <input type="text" class="form-control" name="code" ng-model="so.code" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element >
                      </div>
                  </div>
              </div>

              <div ng-controller="EditableTableSoCtrl" ng-form editable-form name="tableform" oncancel="cancel()">
                    <!-- table -->
                    <table class="table  table-hover itemtable">
                        <thead>
                        <tr>
                            <th width="5%">ID</th>
                            <th width="25%">Item</th>
                            <th width="10%">Stock</th>
                            <th width="10%">Stock Unit</th>
                            <th width="10%">stock lowest/recipe</th>
                            <th width="10%">stock lowest/recipe unit</th>
                            <th width="10%">real stock</th>
                            <th width="10%">real stock lowest/recipe</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="item in items | filter:filterUser">
                            <td style="vertical-align: middle;"><span>{{item.w_id}}</span></td>
                            <td style="vertical-align: middle;"><span>{{item.item}}</span></td>
                            <td style="text-align: right;vertical-align: middle;"><span>{{item.stock_qty| number : fractionSize}}</span></td>
                            <td style="vertical-align: middle;"><span>{{item.stock_unit}}</span></td>
                            <td style="text-align: right;vertical-align: middle;"><span>{{item.stock_qty_l| number : fractionSize}}</span></td>
                            <td style="vertical-align: middle;"><span>{{item.stock_unit2}}</span></td>
                            <td style="text-align: right;vertical-align: middle;">
                                <span editable-text="item.real_stock" theme="bootstrap" e-form="tableform" data-e-ng-keyup="updaterl($event,item.id,$data,'rs')">
                                    {{ item.real_stock | number : fractionSize}}
                                </span>
                            </td>
                            <td style="text-align: right;vertical-align: middle;">
                                <span editable-text="item.real_stock_l" theme="bootstrap" e-form="tableform" data-e-ng-keyup="updaterl($event,item.id,$data,'rsl')">
                                    {{ item.real_stock_l | number : fractionSize}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <!-- buttons -->
                    <div class="btn-edit">
                      <button type="button" class="btn btn-primary" ng-show="!tableform.$visible" ng-click="tableform.$show()">
                        Modify Item List
                      </button>
                    </div>
                    <div class="btn-form" ng-show="tableform.$visible">

                      <button type="submit" ng-disabled="tableform.$waiting" ng-click="tableform.$hide();child.saveTable(0)" class="btn btn-primary"> Save Item</button>
                      <!--<button type="button" ng-disabled="tableform.$waiting" ng-click="addUser()" class="btn btn-primary "> Add New Item</button>-->
                      <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn btn-default">Cancel</button>
                    </div>

              </div>
              <br />
              <div class="row divider"></div>

              <div class="clearfix"></div>
              <button class="btn btn-primary" type="submit" ng-disabled="dodol.$invalid" ng-click="submit()" >Save</button>
              <button class="btn btn-default"><i class="pg-close"></i> Clear</button>
          </form>
      </div>
      <!-- END FORM -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!--END FORM INPUT-->

<!-- START MODAL CONTENT-->
<div class="modal fade slide-up disable-scroll" id="modalOpname" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-body text-center m-t-20">
                    <h4 class="no-margin p-b-10">Warehouse will be locked during the Stock Opname process underway</h4>
                    <div >
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="execOpname()">Yes</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="cancelOpname()">No</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- END MODAL CONTENT-->
