
<div class="full-height m-t-40">
    <!-- TABLES VIEW -->
    <div class="container-fluid container-fixed-lg">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
            <div class="panel-heading">
                <div class="panel-title">Receiving
                </div>
                <div class="pull-right" style="width: 60%;">
                    <button id="show-modal" class="btn btn-primary btn-cons pull-right" ng-click="openQuickView('add')" ng-if="show.prTable" ng-show="buttonCreate"><i class="fa fa-plus"></i> Add Receiving</button>
                    <!--<button id="show-modal" class="btn btn-primary btn-cons pull-right" ng-click="openQuickViewItem('add')" ng-if="show.itemTable" ng-show="addItem"><i class="fa fa-plus"></i> Add Item</button>-->
                    <div class="input-group date col-sm-4 pull-right m-r-10">
                        <input type="text" id="search-table" class="form-control pull-right" placeholder="Search" ng-keyup="filter('search',$event)" ng-model="filterVal.search">
                    </div>

                </div>
                <div class="clearfix"></div>
                <div class="tools">
                    <a class="collapse" href="javascript:;"></a>
                    <a class="config" data-toggle="modal" href="#grid-config"></a>
                    <a class="reload" href="javascript:;"></a>
                    <a class="remove" href="javascript:;"></a>
                </div>
            </div>
            <div class="panel-body">
                <div id="divPr" >
                    <table class="table table-hover table-condensed " id="prTable" name="prTable" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="nested.dtInstance" width="2200px">
                        <tfoot>
                        <tr></tr>
                        </tfoot>
                    </table>
                    <script type="text/ng-template" id="tableFooter">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="text-right">Total:</th>
                        <th class="text-right">{{ sums| number : fractionSize }}</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>

                    </script>
                </div>

            </div>
        </div>
    <!-- END PANEL -->
    </div>

<!--START FORM INPUT-->
<div class="modal fade slide-right form-input-full" id="form-input" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content-wrapper">
      <div class="modal-content" style="background-image: url('pages/mtbgform.png');">
      <div class="panel-heading">
       <div class="panel-title"></div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
        </button>
       </div>
        <div class="container-xs-height full-height">
          <div class="row-xs-height">
            <div class="modal-body col-xs-height col-top">

      <!-- START FORM -->
      <div class="panel panel-transparent m-t-20">

          <form id="form-user" role="form" autocomplete="off" name="dodol" novalidate>
              <div class="row clearfix">
              <div class="col-sm-12">
                  <h4>Receiving Document</h4>
                  <div class="row clearfix">
                      <div class="col-sm-12">
                          <div class="col-md-3">
                              <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : po.code.$invalid && !po.code.$pristine }">
                                  <label>Receiving Number</label>
                                  <input type="text" class="form-control" name="code" ng-model="po.code" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required ng-readonly="updateState">
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div pg-form-group class="form-group form-group-default form-group-default-select  required" ng-class="{ 'has-error' : selected.po.selected.$invalid && !selected.po.selected.$pristine }" >
                                  <label>Source No</label>
                                  <ui-select ng-model="selected.po.selected" theme="bootstrap" on-select="updateListItem()" ng-disabled="updateState">
                                      <ui-select-match placeholder="Select PO">{{$select.selected.code}}</ui-select-match>
                                      <ui-select-choices repeat="item in po_data | filter: $select.search">
                                          <span ng-bind-html="trustAsHtml((item.code | highlight: $select.search))"></span>
                                          <small ng-bind-html="trustAsHtml((item.supplier_name | highlight: $select.search))"></small>
                                      </ui-select-choices>
                                  </ui-select>
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div pg-form-group class="form-group form-group-default form-group-default-select " >
                                  <label>Location</label>
                                  <ui-select ng-model="selected.warehouse.selected" theme="bootstrap"  on-select="po.warehouse_id=selected.warehouse.selected.id" ng-disabled="!updateState">
                                      <ui-select-match placeholder="Select Warehouse">{{$select.selected.name}}</ui-select-match>
                                      <ui-select-choices repeat="item in warehouse | filter: $select.search">
                                          <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                                      </ui-select-choices>
                                  </ui-select>
                              </div>
                          </div>
                          <div class="col-md-3">
                              <!--<div pg-form-group class="form-group form-group-default form-group-default-select  required" ng-class="{ 'has-error' : pr.cost_center_id.$invalid && !pr.cost_center_id.$pristine }">
                                  <label>Cost Center</label>
                                  <ui-select ng-model="selected.cost_center.selected" theme="bootstrap" ng-disabled="viewMode" on-select="pr.cost_center_id=selected.cost_center.selected.id" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required>
                                      <ui-select-match placeholder="Pick Cost Center">{{$select.selected.name}}</ui-select-match>
                                      <ui-select-choices repeat="item in cost_center | filter: $select.search">
                                          <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                                      </ui-select-choices>
                                  </ui-select>
                              </div>-->
                              <div pg-form-group class="form-group form-group-default form-group-default-select ">
                                  <label>Cost Center</label>
                                  <ui-select ng-model="selected.cost_center.selected" theme="bootstrap" ng-keyup="costCenterUp($select.search)" ng-disabled="!updateState" on-select="pr.cost_center_id=selected.cost_center.selected.id" >
                                      <ui-select-match placeholder="Pick Cost Center">{{$select.selected.name}}</ui-select-match>
                                      <ui-select-choices repeat="item in cost_center | filter: $select.search">
                                          <div ng-bind-html="trustAsHtml((item.code | highlight: $select.search))"></div>
                                          <small ng-bind-html="trustAsHtml((item.dept_desc | highlight: $select.search))"></small>
                                      </ui-select-choices>
                                  </ui-select>
                              </div>
                          </div>


                      </div>
                      <div class="col-sm-12">
                          <div class="col-md-3">
                              <div pg-form-group class="form-group form-group-default form-group-default-select  required" ng-class="{ 'has-error' : po.delivery_status.$invalid && !po.delivery_status.$pristine }" >
                                  <label>Status</label>
                                  <ui-select ng-model="selected.delivery_status.selected" theme="bootstrap" on-select="po.delivery_status=$select.selected.id" ng-disabled="!updateState">
                                      <ui-select-match placeholder="Select Status">{{$select.selected.name}}</ui-select-match>
                                      <ui-select-choices repeat="item in delivery_status | filter: $select.search">
                                          <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                                      </ui-select-choices>
                                  </ui-select>
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : po.delivery_date.$invalid && !po.delivery_date.$pristine }">
                                  <label>Receive Date</label>
                                  <input type="text" class="form-control" ng-model="po.delivery_date" name="delivery_date" placeholder="Pick a date" id="startDate" ui-jq="datepicker" ng-model="contract.startDate" data-date-format="yyyy-mm-dd" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required ng-disabled="!updateState">
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div pg-form-group class="form-group form-group-default form-group-default-select required" ng-class="{ 'has-error' : po.supplier_id.$invalid && !po.supplier_id.$pristine }">
                                  <label>Supplier</label>
                                  <ui-select ng-model="selected.supplier.selected" theme="bootstrap"  on-select="po.supplier_id=selected.supplier.selected.id" ng-keyup="supplierUp($select.search)" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required ng-disabled="true">
                                      <ui-select-match placeholder="Pick Supplier">{{$select.selected.name}}</ui-select-match>
                                      <ui-select-choices repeat="item in supplier | filter: $select.search">
                                          <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                                      </ui-select-choices>
                                  </ui-select>
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div pg-form-group class="form-group form-group-default" >
                                  <label>Notes</label>
                                  <input type="text" class="form-control" name="notes" ng-model="po.notes" ng-disabled="!updateState">
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
              </div>
              <div class="row clearfix">
              <div class="col-sm-12">
                  <h4>List of Item</h4>
                  <div ng-controller="EditableTableRecCtrl" ng-form editable-form name="tableform" onaftersave="child.saveTable()" oncancel="cancel()" >
                                        <!-- table -->
                                        <table class="table  table-hover itemtable">
                                            <thead>
                                            <tr>
                                                <th width="5%"><span ng-show="tableform.$visible">Action</span></th>
                                                <th width="20%">Product</th>
												<th width="15%">Notes</th>
                                                <th width="5%">Order Qty</th>
                                                <th width="5%">Remaining</th>
                                                <th width="5%">Rcv Qty</th>
                                                <th width="15%">Price</th>
                                                <th width="15%">Rcv Price</th>
                                                <th width="15%">Amount</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr ng-repeat="item in items | filter:filterUser">

                                                <td style="vertical-align: middle;">
                                                    <div class="btn-group btn-group-xs" ng-show="tableform.$visible">
                                                        <button type="button" class="btn btn-default" ng-click="deleteUser(item.id)" ><i class="fa fa-trash-o"></i></button>
                                                    </div>
                                                </td>
                                                <!--<td >
                                                    <span editable-ui-select="item.product_name" theme="bootstrap" data-e-name="product_name" name="account" data-e-ng-model="selected.account.selected"
                                                    data-e-form="tableform" data-e-ng-keyup="productUp(item.id,$select.search)" data-e-on-select="getProduct($item,item.id)" >
                                                    {{item.product_name}}
                                                          <editable-ui-select-match placeholder="select product" style="width: 300px" >
                                                              {{item.product_name || 'Empty'}}
                                                          </editable-ui-select-match>
                                                          <editable-ui-select-choices repeat="d in product[item.id] | filter: $select.search">
                                                              <div ng-bind-html="trustAsHtml((d.name | highlight: $select.search))"></div>
                                                          </editable-ui-select-choices>
                                                    </span>
                                                </td>-->
                                                <td style="vertical-align: middle;"><span>{{item.product_name}}</span></td>
												<td style="text-align: right;">
                                                    <span editable-textarea="item.order_notes" e-form="tableform" data-e-ng-keyup="updateNotes($event,item.id,$data)" >
                                                        {{ item.order_notes }}
                                                    </span>
                                                </td >
                                                <td style="text-align: right;vertical-align: middle;"><span>{{item.qty | number : fractionSize}}</span></td>
                                                <td style="text-align: right;vertical-align: middle;"><span>{{item.remaining_qty | number : fractionSize}}</span></td>
                                                <td style="text-align: right;">
                                                    <span editable-text="item.rcv_qty" e-form="tableform" data-e-ng-keyup="setValue($event,item.id,$data,'qty')" >
                                                        {{ item.rcv_qty | number : fractionSize}}
                                                    </span>
                                                </td >
                                                <td style="text-align: right;vertical-align: middle;"><span>{{item.price | number : fractionSize}}</span></td>
                                                <td style="text-align: right;">
                                                    <span editable-text="item.rcv_price" e-form="tableform" data-e-ng-keyup="setValue($event,item.id,$data,'price')">
                                                        {{ item.rcv_price | number : fractionSize}}
                                                    </span>
                                                </td>
                                                <td style="text-align: right;vertical-align: middle;"><span>{{item.amount | number : fractionSize}}</span></td>

                                            </tr>

                                            </tbody>
                                        </table>

                                        <!-- buttons -->
                                        <div class="btn-edit">
                                          <button type="button" class="btn btn-primary" ng-show="!tableform.$visible" ng-disabled="selected.delivery_status.selected.id==3" ng-click="tableform.$show()">
                                            Modify Item List
                                          </button>
                                        </div>
                                        <div class="btn-form" ng-show="tableform.$visible">

                                          <button type="submit" ng-disabled="tableform.$waiting" ng-click="tableform.$hide();child.saveTable(0)" class="btn btn-primary"> Save Item</button>
                                          <!--<button type="button" ng-disabled="tableform.$waiting" ng-click="addUser()" class="btn btn-primary "> Add New Item</button>-->
                                          <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn btn-default">Cancel</button>
                                        </div>

                  </div>

                  <!--<div ng-if="show.itemTable" id="divItem" >-->
                  <!--<div  id="divItem" >
                      <table class="table table-condensed m-b-0" >
                          <tr>
                              <th width="5%">
                                  <div class="form-group">
                                      <button class="btn btn-primary btn-small pull-right" ng-click="addItem()" ng-show="addItem"><i class="fa fa-plus"></i></button>
                                  </div>
                              </th>
                              <th width="35%">
                                      <label width="100%">
                                          <div class="form-group clearfix">
                                              <ui-select ng-model="selected.product.selected" theme="bootstrap" on-select="getProductPrice($item)" ng-keyup="productUp($select.search)" style="width: 300px;">
                                                  <ui-select-match placeholder="Product...">{{$select.selected.name}}</ui-select-match>
                                                  <ui-select-choices repeat="item in products | filter: $select.search">
                                                      <div ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></div>
                                                  </ui-select-choices>
                                              </ui-select>
                                          </div>
                                      </label>

                              </th>
                              <th width="8%">
                                  <div class="form-group">
                                      <label>
                                          <input placeholder="Qty..." type="number" class="form-control" name="Qty" ng-model="item2Add.qty" value="1" ng-readonly="true">
                                      </label>
                                  </div>
                              </th>
                              <th width="8%">
                                  <div class="form-group">
                                      <label>
                                          <input placeholder="Rcv Qty..." type="number" class="form-control" name="Qty" ng-model="item2Add.received_qty" value="1" ng-keyup="updatePrice($event)">
                                      </label>
                                  </div>
                              </th>
                              <th width="10%">
                                  <div class="form-group">
                                      <label>
                                          <input placeholder="Price..." type="number" class="form-control" name="Price" ng-model="item2Add.price" ng-value="item2Add.price" ng-readonly="true">
                                      </label>
                                  </div>
                              </th>
                              <th width="10%">
                                  <div class="form-group">
                                      <label>
                                          <input placeholder="Rcv Price..." type="number" class="form-control" name="Price" ng-model="item2Add.received_price" ng-value="item2Add.price" ng-keyup="updatePrice($event)">
                                      </label>
                                  </div>
                              </th>
                              <th width="10%">
                                  <div class="form-group">
                                      <label>
                                          <input placeholder="Amount..." type="text" class="form-control" name="Amount" ng-model="item2Add.amount" ng-value="item2Add.amount" ng-readonly="true">
                                      </label>
                                  </div>
                              </th>

                          </tr>
                      </table>
                        <table class="table table-hover itemtable" id="itemTable" name="itemTable"  dt-options="dtOptionsItem"  dt-column-defs="dtColumnDefs" dt-instance="nested.dtInstanceItem">
                            <thead>
                            <tr>
                                <th width="5%">Action</th>
                                <th width="35%">Product</th>
                                <th width="5%">Qty</th>
                                <th width="5%">Rcv Qty</th>
                                <th width="10%">Price</th>
                                <th width="10%">Rcv Price</th>
                                <th width="10%">Amount</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in items">
                                <td width="5%">
                                    <div class="btn-group btn-group-xs">
                                        <button type="button" class="btn btn-default" ng-click="modifyItem($index)" ><i class="fa fa-edit"></i></button>
                                        <button type="button" class="btn btn-default" ng-click="removeItem($index)" ><i class="fa fa-trash-o"></i></button>
                                    </div>
                                </td>
                                <td width="35%">{{ item.product_name }}</td>
                                <td width="5%">{{ item.qty }}</td>
                                <td width="5%">{{ item.received_qty }}</td>
                                <td width="10%">{{ item.price }}</td>
                                <td width="10%">{{ item.received_price }}</td>
                                <td width="10%">{{ item.amount }}</td>

                            </tr>
                            </tbody>
                        </table>
                  </div>-->
              </div>
              </div>
              <br>
              <div class="row divider"></div>
              <div class="clearfix"></div>
              <button class="btn btn-primary" type="submit" ng-disabled="dodol.$invalid||finalState" ng-click="submit()" >Save</button>
              <button class="btn btn-default"><i class="pg-close"></i> Clear</button>
          </form>
      </div>
      <!-- END FORM -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!--END FORM INPUT-->

<!-- START INPUT PRODUCT-->



<!-- START MODAL CONTENT-->
<div class="modal fade slide-up disable-scroll" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content" style="background-image: url('pages/mtbgform.png');">
                <div class="modal-body text-center m-t-20">
                    <h4 class="no-margin p-b-10">Are you sure want to cancel   {{po.code}} ?</h4>
                    <div >
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="execDelete()">Yes</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="clear()">No</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- END MODAL CONTENT-->
