<div class="full-height m-t-40">
    <div class="container-fluid container-fixed-lg">
        <div class="panel panel-transparent">
            <div class="panel-heading">
                <div class="panel-title">Account Receivable CC Journal
                </div>
                <div class="pull-right" style="width: 60%;">
                    <button id="show-modal" class="btn btn-primary btn-cons pull-right"
                            ng-click="openQuickView('add')" ng-show="buttonCreate"><i
                        class="fa fa-plus"></i> Add CC Journal
                    </button>
                    <span ng-click="exportExcel()">
                        <div excel-export export-data="exportData" file-name="{{fileName}}"
                             class="pull-right m-r-5" control="focusinControl"></div>
                    </span>

                    <div class="input-group date col-sm-4 pull-right m-r-10">
                        <input type="text" id="search-table" class="form-control pull-right"
                               placeholder="Search anything" ng-keyup="filter('search',$event)"
                               ng-model="filterVal.search">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="tools">
                    <a class="collapse" href="javascript:;"></a>
                    <a class="config" data-toggle="modal" href="#grid-config"></a>
                    <a class="reload" href="javascript:;"></a>
                    <a class="remove" href="javascript:;"></a>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover table-condensed " datatable="" width="1800px"
                           dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance">
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade slide-right" id="form-input" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content-wrapper">
                <div class="modal-content" style="background-image: url('pages/mtbgform.png');">
                    <div class="panel-heading">
                        <div class="panel-title">CC Journal Information</div>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="pg-close fs-14"></i>
                        </button>
                    </div>
                    <div class="container-xs-height full-height">
                        <div class="row-xs-height">
                            <div class="modal-body col-xs-height col-top">
                                <div class="panel panel-transparent m-t-20">
                                    <form id="form-user"
                                          role="form" autocomplete="off" name="myForm"
                                          validate>
                                        <div class="row clearfix">
                                            <div class="col-sm-6">
                                                <div pg-form-group
                                                     class="form-group form-group-default required"
                                                     ng-class="{ 'has-error' : !data.code }">
                                                    <label>Code</label>
                                                    <input type="text"
                                                           class="form-control" name="code"
                                                           id="data_code"
                                                           ng-model="data.code" ui-jq="popover"
                                                           disabled
                                                           data-container="body"
                                                           data-placement="top"
                                                           data-content="This field is required"
                                                           data-trigger="manual"
                                                           validate-attached-form-element
                                                           required>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div pg-form-group
                                                     class="form-group form-group-default form-group-default-select  required"
                                                     ng-class="{ 'has-error' : !data.status.selected }">
                                                    <label>Status</label>
                                                    <ui-select
                                                        ng-model="data.status.selected"
                                                        theme="bootstrap"
                                                        validate-attached-form-element
                                                        required>
                                                        <ui-select-match placeholder="Choose one">{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices
                                                            repeat="item in ls.statuses | filter: $select.search">
                                                            <div
                                                                ng-bind-html="trustAsHtml((item.name | highlight: $select.search))">
                                                            </div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-6">
                                                <div pg-form-group
                                                     class="form-group form-group-default form-group-default-select  required"
                                                     ng-class="{ 'has-error' : !data.credit_card_id.selected }">
                                                    <label>Credit Card</label>
                                                    <ui-select
                                                        ng-model="data.credit_card_id.selected"
                                                        theme="bootstrap"
                                                        on-select="onSelectCC()"
                                                        validate-attached-form-element
                                                        required>
                                                        <ui-select-match placeholder="Choose one">{{
                                                            $select.selected.code + ' - ' +
                                                            $select.selected.name + ' : ' +
                                                            $select.selected.percent_fee
                                                        }}%</ui-select-match>
                                                        <ui-select-choices
                                                            repeat="item in ls.credit_cards | filter: $select.search">
                                                            <div>
                                                                <div
                                                                    ng-bind-html="trustAsHtml((item.code + ' - ' + item.name | highlight: $select.search))"></div>
                                                                <small>Percent fee:
                                                                    {{item.percent_fee}}%
                                                                </small>
                                                            </div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div pg-form-group
                                                     class="form-group form-group-default"
                                                     ng-class="{ 'has-error' : !data.card_no }">
                                                    <label>Card Numb</label>
                                                    <input type="text" class="form-control"
                                                           name="card_no" id="data_card_no"
                                                           ng-model="data.card_no" ui-jq="popover"
                                                           data-container="body"
                                                           data-placement="top"
                                                           data-content="This field is required"
                                                           data-trigger="manual"
                                                           validate-attached-form-element required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-6">
                                                <div pg-form-group
                                                     class="form-group form-group-default"
                                                     ng-class="{ 'has-error' : !data.total_amount }">
                                                    <label>Total Amount</label>
                                                    <input type="text" format="number"
                                                           class="form-control"
                                                           name="total_amount"
                                                           id="data_total_amount"
                                                           ng-model="data.total_amount"
                                                           ui-jq="popover" data-container="body"
                                                           data-placement="top"
                                                           data-content="This field is required"
                                                           data-trigger="manual"
                                                           ng-change="onChangeTotalAmount()"
                                                           validate-attached-form-element required
                                                    >
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div pg-form-group
                                                     class="form-group form-group-default"
                                                     ng-class="{ 'has-error' : data.credit_fee_amount < 0 }">
                                                    <label>Credit Fee Amount</label>
                                                    <input type="text" format="number"
                                                           class="form-control"
                                                           name="credit_fee_amount"
                                                           id="data_credit_fee_amount"
                                                           ng-model="data.credit_fee_amount"
                                                           ui-jq="popover" data-container="body"
                                                           data-placement="top"
                                                           data-content="This field is required"
                                                           data-trigger="manual"
                                                           validate-attached-form-element
                                                           disabled
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-6">
                                                <div pg-form-group
                                                     class="form-group form-group-default required"
                                                     ng-class="{ 'has-error' : !data.transc_date }">
                                                    <label for="data_transc_date">
                                                        Transaction Date
                                                    </label>
                                                    <input type="text" name="transc_date"
                                                           id="data_transc_date"
                                                           placeholder="Pick a date"
                                                           class="form-control"
                                                           data-date-format="yyyy-mm-dd"
                                                           ng-model="data.transc_date"
                                                           style="width: 100%"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-6"></div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-6">
                                                <div pg-form-group
                                                     class="form-group form-group-default form-group-default-select  required"
                                                     ng-class="{ 'has-error' : !data.outlet_type_id.selected }">
                                                    <label>Outlet Type</label>
                                                    <ui-select
                                                        ng-model="data.outlet_type_id.selected"
                                                        theme="bootstrap"
                                                        on-select="onSelectOutlet()">
                                                        <ui-select-match placeholder="Choose one">
                                                            {{$select.selected.name}}
                                                        </ui-select-match>
                                                        <ui-select-choices
                                                            repeat="item in ls.outlet_types | filter: $select.search">
                                                            <span
                                                                ng-bind-html="trustAsHtml((item.code + ' : ' + item.name | highlight: $select.search))"></span>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6" id="col-folio">
                                                <div pg-form-group
                                                     class="form-group form-group-default form-group-default-select"
                                                     ng-class="{ 'has-error' : !data.folio_id.selected }">
                                                    <label>Folio</label>
                                                    <ui-select
                                                        ng-model="data.folio_id.selected"
                                                        theme="bootstrap">
                                                        <ui-select-match
                                                            placeholder="Choose one">
                                                            {{$select.selected.folio_code}}
                                                        </ui-select-match>
                                                        <ui-select-choices
                                                            repeat="item in ls.folios | filter: $select.search">
                                                        <span
                                                            ng-bind-html="trustAsHtml((item.folio_code + ' - ' + item.customer_name | highlight: $select.search))"></span>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6" id="col-order">
                                                <div pg-form-group
                                                     class="form-group form-group-default form-group-default-select"
                                                     ng-class="{ 'has-error' : !data.pos_order_id.selected }">
                                                    <label>Order</label>
                                                    <ui-select
                                                        ng-model="data.pos_order_id.selected"
                                                        theme="bootstrap">
                                                        <ui-select-match
                                                            placeholder="Choose one">
                                                            {{$select.selected.code}}
                                                        </ui-select-match>
                                                        <ui-select-choices
                                                            repeat="item in ls.pos_orders | filter: $select.search">
                                                            <span
                                                                ng-bind-html="trustAsHtml((item.code | highlight: $select.search))"></span>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-6">
                                                <div pg-form-group
                                                     class="form-group form-group-default form-group-default-select  required"
                                                     ng-class="{ 'has-error' : !data.ccard_batch_id.selected }">
                                                    <label>CC Batch</label>
                                                    <ui-select
                                                        ng-model="data.ccard_batch_id.selected"
                                                        theme="bootstrap"
                                                        validate-attached-form-element
                                                        required>
                                                        <ui-select-match placeholder="Choose one">
                                                            {{$select.selected.code}}
                                                        </ui-select-match>
                                                        <ui-select-choices
                                                            repeat="item in ls.ccard_batches | filter: $select.search">
                                                            <span
                                                                ng-bind-html="trustAsHtml((item.code | highlight: $select.search))"></span>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div pg-form-group
                                                     class="form-group form-group-default"
                                                     ng-class="{ 'has-error' : !data.trace_no }">
                                                    <label>Trace No.</label>
                                                    <input type="text" class="form-control"
                                                           name="trace_no" id="data_trace_no"
                                                           ng-model="data.trace_no" ui-jq="popover"
                                                           data-container="body"
                                                           data-placement="top"
                                                           data-content="This field is required"
                                                           data-trigger="manual"
                                                           validate-attached-form-element required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-8" id="col-fo-trans">
                                                <div pg-form-group
                                                     class="form-group form-group-default form-group-default-select  required"
                                                     ng-class="{ 'has-error' : !data.fo_transc_id.selected }">
                                                    <label>FO Transaction</label>
                                                    <ui-select
                                                        ng-model="data.fo_transc_id.selected"
                                                        on-select="onSelectFoTrans()"
                                                        theme="bootstrap">
                                                        <ui-select-match placeholder="Choose one">
                                                            {{$select.selected.code}}
                                                        </ui-select-match>
                                                        <ui-select-choices
                                                            repeat="item in ls.fo_transactions | filter: $select.search">
                                                            <span
                                                                ng-bind-html="trustAsHtml((item.code + ' - ' + item.customer_name | highlight: $select.search))"></span>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-12">
                                                <div pg-form-group
                                                     class="form-group form-group-default">
                                                    <label>Remarks</label>
                                                    <input type="text" class="form-control"
                                                           name="remark" id="data_remark"
                                                           ng-model="data.remark"
                                                           ui-jq="popover" data-container="body"
                                                           data-placement="top"
                                                           data-trigger="manual"
                                                           validate-attached-form-element>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <br>
                                    <div class="clearfix"></div>
                                    <button class="btn btn-primary"
                                            type="submit"
                                            ng-disabled="myForm.$invalid"
                                            ng-click="submit()">
                                        Save
                                    </button>
                                    <button class="btn btn-default"
                                            ng-click="clear()">
                                        <i class="pg-close"></i> Clear
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade slide-up disable-scroll" id="modalDelete" tabindex="-1" role="dialog"
     aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-body text-center m-t-20">
                    <h4 class="no-margin p-b-10">Are you sure want to delete "{{removing.code}}"
                        ?</h4>
                    <div>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                                ng-click="execDelete()">Yes
                        </button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">No
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>