
<div class="full-height m-t-40">
    <!-- TABLES VIEW -->
    <div class="container-fluid container-fixed-lg">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
            <div class="panel-heading">
                <div class="panel-title">Guest History Nights Grade
                </div>
                <div class="pull-right" style="width: 60%;">
                    <button id="show-modal" class="btn btn-primary btn-cons pull-right" ng-click="openQuickView('add')" ng-show="buttonCreate"><i class="fa fa-plus"></i> Add Nights Grade</button>

                    <span ng-click="exportExcel()">
                        <div excel-export export-data="exportData" file-name="{{fileName}}" class="pull-right m-r-5" control="focusinControl" ></div>
                    </span>

                    <div class="input-group date col-sm-4 pull-right m-r-10">
                        <input type="text" id="search-table" class="form-control pull-right" placeholder="Search name..." ng-keyup="filter('search',$event)" ng-model="filterVal.search">
                    </div>

                </div>
                <div class="clearfix"></div>
                <div class="tools">
                    <a class="collapse" href="javascript:;"></a>
                    <a class="config" data-toggle="modal" href="#grid-config"></a>
                    <a class="reload" href="javascript:;"></a>
                    <a class="remove" href="javascript:;"></a>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover table-condensed " datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance">
                    </table>
            </div>
        </div>
    </div>
    <!-- END PANEL -->
</div>

<!--START FORM INPUT-->
<div class="modal fade slide-right" id="form-input" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content-wrapper">
      <div class="modal-content" style="background-image: url('pages/mtbgform.png');">
      <div class="panel-heading">
       <div class="panel-title">Guest History Nights Grade Information</div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
        </button>
       </div>
        <div class="container-xs-height full-height">
          <div class="row-xs-height">
            <div class="modal-body col-xs-height col-top">

      <!-- START FORM -->
      <div class="panel panel-transparent m-t-20">
          <form id="form-user" role="form" autocomplete="off" name="dodol" novalidate>
              <div class="row clearfix">
                  <div class="col-sm-12">
                      <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : field.name.$invalid && !field.name.$pristine }">
                          <label>Name</label>
                          <input type="text" class="form-control" name="name" ng-model="field.name" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-12">
                      <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : field.code.$invalid && !field.code.$pristine }">
                          <label>Code</label>
                          <input type="text" class="form-control" name="code" ng-model="field.code" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-12">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : field.description.$invalid && !field.description.$pristine }">
                          <label>Description</label>
                          <input type="text" class="form-control" name="name" ng-model="field.description" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                <div class="col-sm-12">
                    <div pg-form-group class="form-group form-group-default form-group-default-select  required" ng-class="{ 'has-error' : field.status.$invalid && !field.status.$pristine }">
                        <label>Status</label>
                        <ui-select ng-model="selected.status.selected" theme="bootstrap" >
                            <ui-select-match placeholder="select status">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item in arr.status | filter: $select.search">
                                <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-12">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : field.grade.$invalid && !field.grade.$pristine }">
                          <label>Grade</label>
                          <input type="text" class="form-control" name="name" ng-model="field.grade" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-12">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : field.num_of_night_begin.$invalid && !field.num_of_night_begin.$pristine }">
                          <label>Night Begin</label>
                          <input type="text" class="form-control" name="num_of_night_begin" ng-model="field.num_of_night_begin" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-12">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : field.num_of_night_end.$invalid && !field.num_of_night_end.$pristine }">
                          <label>Night End</label>
                          <input type="text" class="form-control" name="num_of_night_end" ng-model="field.num_of_night_end" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element>
                      </div>
                  </div>
              </div>

              <br>
              <div class="clearfix"></div>
              <button class="btn btn-primary" type="submit" ng-disabled="dodol.$invalid" ng-click="submit()" >Save</button>
              <button class="btn btn-default"><i class="pg-close"></i> Clear</button>
          </form>
      </div>
      <!-- END FORM -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!--END FORM INPUT-->

<!-- START MODAL CONTENT-->
<div class="modal fade slide-up disable-scroll" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-body text-center m-t-20">
                    <h4 class="no-margin p-b-10">Are you sure want to delete {{field.name}} ?</h4>
                    <div >
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="execDelete()">Yes</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- END MODAL CONTENT-->
