/*

* Override Pages default styles or create your own styles here

*/

span.ui-select-match-text.pull-left {
  margin-right: 15px;

}

.form-input-full .modal-dialog {
    width:95%;
}
.form-input-big .modal-dialog {
    width:70%;
}

.form-input-medium .modal-dialog {
    width:50%;
}

.form-input-small .modal-dialog {
    width:30%px;
}

.page-sidebar .sidebar-menu .menu-items > li > a > .title {
    float: left;
    white-space: nowrap;
     text-overflow: ellipsis;
    overflow: hidden;
     width: 80%;
}

.ui-select-match-text{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}
.ui-select-toggle > .btn.btn-link {
  margin-right: 10px;
  top: 6px;
  position: absolute;
  right: 10px;
}

.table.table-condensed tbody tr td {
    white-space: nowrap;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: clip;
}


.itemtable tbody tr td {
    padding: 5px !important;
}
.itemtable tbody tr th {
    padding: 5px !important;
}

.ui-select-match-close.select2-search-choice-close {
    color: #626262 !important;
    opacity: .4;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.lDate .select2-choices {
    background-image: none;
    border: 1px solid #815e36;
    border-radius: 2px;
}
.lDate2 .ui-select-match {
    background-image: none;
    border: 1px solid #815e36;
    border-radius: 2px;
}
.lDate .select2-container-multi .select2-choices .select2-search-choice {
    background-color: #e6e6e6;
    background-image: none;
    border: none;
    box-shadow: none;
    color: inherit;
    border-radius: 8px;
    margin: 4px -5px 4px 10px;
    padding: 4px 8px 4px 18px;
}

.editable-wrap.editable-text {
    width: 100%;
}
.editable-wrap.editable-text input{
    width: 100%;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0.07);
    font-family: Arial, sans-serif;
    -webkit-appearance: none;
    color: #2c2c2c;
    outline: 0;
    height: 35px;
    padding: 9px 12px;
    line-height: normal;
    font-size: 14px;
    font-weight: normal;
    vertical-align: middle;
    min-height: 35px;
    -webkit-transition: all 0.12s ease;
    transition: all 0.12s ease;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition: background 0.2s linear 0s;
    transition: background 0.2s linear 0s;
}
.editable-wrap {
    display: inline-block;
     white-space: nowrap !important;
    margin: 0;
}

.row.divider{
    border-bottom: 1px solid #e6e6e6;
    padding-top: 19px;
    margin-bottom: 19px;
}

@media screen {
    #printSection {
        display: none;
    }
}

@media print {
    body * {
        visibility:hidden;
    }
    #printSection, #printSection * {
        visibility:visible;
    }
    #printSection {
        position:absolute;
        left:0;
        top:0;
    }
    .print_a4 {
        width: 210mm;
        min-height: 297mm;
        border: 1px #D3D3D3 solid;
    }
    .center {
        display: flex;
        align-items: center;
    }
    td {
        padding-left: 10px;
        padding-right:10px;
    }
}

/*.print_a4 {
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}*/

.datatable-scroll {
    overflow-x: auto;
    overflow-y: visible;
}
.dataTables_scroll
{
    overflow:auto;
}
.dataTable td {
    overflow: hidden; /* this is what fixes the expansion */
  text-overflow: ellipsis; /* not supported in all browsers, but I accepted the tradeoff */
  white-space: nowrap;
}

.gray-text {
    color: #b5b5b5;
}

table thead {
	background-color: #f9f7f3 !important;
}
table th {
	font-family: tahoma !important;
	font-weight: normal;
	font-size: 14px !important;
	background-color: #936a3b !important;
	color: #f9f8f7 !important;
}

table td {
	font-size: 14px !important;
}
