<nav class="secondary-sidebar padding-30 ">
    <p class="menu-title">MAIN</p>
    <ul class="main-menu">
        <li class="active">
            <a href="#">Available</a>
        </li>
        <li class="">
            <a href="#">On Hand</a>
        </li>
        <li class="">
            <a href="#">Revenue</a>
        </li>
        <li class="">
            <a href="#">Rate</a>
        </li>
        <li class="">
            <a href="#">Detail</a>
        </li>
        <li class="">
            <a href="#">Block</a>
        </li>
        <li class="">
            <a href="#">MICE</a>
        </li>
    </ul>

    <p class="menu-title m-t-40">ACTION</p>
    <ul class="main-menu">
        <li class="">
            <a href="#">Today</a>
        </li>
        <li class="">
            <a href="#">Refresh</a>
        </li>
        <li class="">
            <a href="#">Previous (-)</a>
        </li>
        <li class="">
            <a href="#">Next (+)</a>
        </li>
        <li class="">
            <a href="#">Exit</a>
        </li>
    </ul>
</nav>
<div class="inner-content full-height m-t-40">
    <!-- TABLES VIEW -->
    <div class="container-fluid container-fixed-lg">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
            <div class="panel-heading">
                <div class="panel-title">Manage User
                </div>
                <div class="pull-right" style="width: 60%;">
                    <button id="show-modal" class="btn btn-primary btn-cons pull-right" ng-click="openQuickView('add')" ng-show="buttonCreate"><i class="fa fa-plus"></i> Add User</button>
                   <div class="form-group pull-right m-r-5">

                       <ui-select ng-model="filterVal.role.selected" theme="bootstrap" on-select="filter('role',$item)">
                           <ui-select-match placeholder="Select Role..">{{$select.selected.name}}</ui-select-match>
                           <ui-select-choices repeat="item in rolesFilter | filter: $select.search">
                               <div ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></div>
                           </ui-select-choices>
                       </ui-select>


                    </div>
                    <div class="input-group date col-sm-4 pull-right m-r-10">
                        <input type="text" id="search-table" class="form-control pull-right" placeholder="Search" ng-keyup="filter('search',$event)" ng-model="filterVal.search">
                    </div>

                </div>
                <!--<div class="pull-right">
                    <div class="col-xs-12">
                        <button id="show-modal" class="btn btn-primary btn-cons" ng-click="openQuickView('add')" ng-show="buttonCreate"><i class="fa fa-plus"></i> Add User
                        </button>
                    </div>
                </div>-->
                <div class="clearfix"></div>
                <div class="tools">
                    <a class="collapse" href="javascript:;"></a>
                    <a class="config" data-toggle="modal" href="#grid-config"></a>
                    <a class="reload" href="javascript:;"></a>
                    <a class="remove" href="javascript:;"></a>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover table-condensed " datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance">
                    </table>
            </div>
        </div>
    </div>
    <!-- END PANEL -->
</div>

<!--START FORM INPUT-->
<div class="modal fade slide-right" id="form-input" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content-wrapper">
      <div class="modal-content" style="background-image: url('pages/mtbgform.png');">
      <div class="panel-heading">
       <div class="panel-title">User Management</div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
        </button>
       </div>
        <div class="container-xs-height full-height">
          <div class="row-xs-height">
            <div class="modal-body col-xs-height col-top">

      <!-- START FORM -->
      <div class="panel panel-transparent m-t-20">
          <form id="form-user" role="form" autocomplete="off" name="dodol" novalidate>
              <div class="row clearfix">
                <div class="col-sm-12">
                    <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : user.fullname.$invalid && !user.fullname.$pristine }">
                        <label>Full name</label>
                        <input type="text" class="form-control" name="fullname" ng-model="user.fullname" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required>
                    </div>
                </div>
              </div>
              <div class="row clearfix">
                <div class="col-sm-12">
                    <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : user.username.$invalid && !user.username.$pristine }">
                        <label>User name</label>
                        <input type="text" class="form-control" name="name" ng-model="user.username" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required>
                    </div>
                </div>
              </div>
              <div class="row clearfix">
                <div class="col-sm-12">
                    <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : user.password.$invalid && !user.password.$pristine }">
                        <label>Password</label>
                        <input type="text" class="form-control" name="password" ng-model="user.password" validate-attached-form-element required placeholder="Minimum of 4 characters.">
                    </div>
                </div>
              </div>



              <div class="row clearfix">
                <div class="col-sm-12">
                    <div pg-form-group class="form-group form-group-default form-group-default-select required" ng-class="{ 'has-error' : role.selected.$invalid && !role.selected.$pristine }">
                        <label>Roles</label>
                        <ui-select multiple name="roleName" class="form-control" require-multiple ng-model="role.selected" theme="select2" ng-disabled="disabled" style="width:100%" validate-attached-form-element required>
                            <ui-select-match placeholder="Select role...">{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat="item in roles | filter: {name: $select.search}" >
                                <div ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></div>
                                <small ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
              </div>


              <br>
              <div class="clearfix"></div>
              <button class="btn btn-primary" type="submit" ng-disabled="dodol.$invalid" ng-click="submit()" >Save</button>
              <button class="btn btn-default"><i class="pg-close"></i> Clear</button>
          </form>
      </div>
      <!-- END FORM -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!--
<div class="quickview-wrapper calendar-event input-slide-small" id="form-input">
  <div class="view-port clearfix" id="eventFormController">
    <div class="view bg-white">
      <div class="scrollable">
        <div class="p-l-30 p-r-30 p-t-50">
          <a class="pg-close text-master link pull-right" data-toggle="quickview" data-toggle-element="#form-input"></a>
          <h4 id="event-date">User Management</h4>
        </div>
        <div class="p-t-15">
            <form id="form-user" role="form" autocomplete="off" name="dodol" novalidate>
                <div class="form-group-attached">
                    <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : user.fullname.$invalid && !user.fullname.$pristine }">
                        <label>Full name</label>
                        <input type="text" class="form-control" name="fullname" ng-model="user.fullname" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : user.username.$invalid && !user.username.$pristine }">
                                <label>User name</label>
                                <input type="text" class="form-control" name="name" ng-model="user.username" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : user.password.$invalid && !user.password.$pristine }">
                                <label>Password</label>
                                <input type="text" class="form-control" name="password" ng-model="user.password" validate-attached-form-element required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group-attached">
                    <div pg-form-group class="form-group form-group-default form-group-default-select required" ng-class="{ 'has-error' : role.selected.$invalid && !role.selected.$pristine }">
                        <label>Roles</label>
                        <ui-select multiple name="roleName" class="form-control" require-multiple ng-model="role.selected" theme="select2" ng-disabled="disabled" style="width:100%" validate-attached-form-element required>
                            <ui-select-match placeholder="Select role...">{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat="item in roles | filter: {name: $select.search}" >
                                <div ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></div>
                                <small ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <br>


            </form>
        </div>
        <div class="p-l-30 p-r-30 p-t-30">
            <button class="btn btn-success" type="submit" ng-disabled="dodol.$invalid" ng-click="submit()" >Save</button>
            <button class="btn btn-default"><i class="pg-close"></i> Clear</button>
        </div>
      </div>
    </div>
    <div class="view bg-white">
      <div class="navbar navbar-default navbar-sm">
        <div class="navbar-inner">
          <a href="javascript:;" class="inline action p-l-10 link text-master" data-navigate="view" data-view-port="#eventFormController" data-view-animation="push-parrallax">
            <i class="pg-arrow_left"></i>
          </a>
          <div class="view-heading">
            <span class="font-montserrat text-uppercase fs-13">Alerts</span>
          </div>
          <a href="#" class="inline action p-r-10 pull-right link text-master">
            <i class="pg-search"></i>
          </a>
        </div>
      </div>
      <p class="p-l-30 p-r-30 p-t-30"> This is a Demo</p>
    </div>
  </div>
</div>
-->
<!--END FORM INPUT-->

<!-- START MODAL CONTENT-->
<div class="modal fade slide-up disable-scroll" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-body text-center m-t-20">
                    <h4 class="no-margin p-b-10">Are you sure want to delete {{user.name}} ?</h4>
                    <div >
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="execDelete()">Yes</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- END MODAL CONTENT-->
