
<div class="full-height m-t-40">
    <!-- TABLES VIEW -->
    <div class="container-fluid container-fixed-lg">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
            <div class="panel-heading">
                <div class="panel-title">Package
                </div>
                <div class="pull-right" style="width: 60%;">
                    <!--<button id="show-modal2" class="btn btn-primary pull-right" ng-click="openAdvancedFilter(true)" ng-show="buttonCreate"><i class="fa fa-search"></i></button>-->
                    <button id="show-modal" class="btn btn-primary btn-cons pull-right" ng-click="openQuickView('add')" ng-show="buttonCreate"><i class="fa fa-plus"></i> Add Package</button>
                    <span ng-click="exportExcel()">
                        <div excel-export export-data="exportData" file-name="{{fileName}}" class="pull-right m-r-5" control="focusinControl" ></div>
                    </span>

                    <div class="input-group date col-sm-4 pull-right m-r-10">
                        <input type="text" id="search-table" class="form-control pull-right" placeholder="Search name..." ng-keyup="filter('search',$event)" ng-model="filterVal.search">
                    </div>

                </div>
                <div class="clearfix"></div>
                <div class="tools">
                    <a class="collapse" href="javascript:;"></a>
                    <a class="config" data-toggle="modal" href="#grid-config"></a>
                    <a class="reload" href="javascript:;"></a>
                    <a class="remove" href="javascript:;"></a>
                </div>
                <!--<div class="panel panel-default m-t-5" pg-portlet ng-show="showAdvance">
                    <div class="panel-heading">
                        <div class="panel-title">Advanced Search
                        </div>
                        <div class="panel-controls">
                            <ul>
                                <li><a href="" ng-click="openAdvancedFilter(false)"><i class="portlet-icon portlet-icon-close"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body" >
                        <div class="btn-group form-group-default-select pull-left  m-r-5">
                            <label>Department:</label><br />
                            <ui-select ng-model="selected.filter_department.selected" theme="bootstrap"  style="width:150px;">
                                <ui-select-match placeholder="Select Department">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item in departments | filter: $select.search">
                                    <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                                </ui-select-choices>
                            </ui-select>
                         </div>
                         <div class="btn-group form-group-default-select pull-left  m-r-5">
                             <label>Account Type:</label><br />
                             <ui-select ng-model="selected.filter_account_type.selected" theme="bootstrap" style="width:150px;">
                                 <ui-select-match placeholder="Select Type">{{$select.selected.name}}</ui-select-match>
                                 <ui-select-choices repeat="item in account_types | filter: $select.search">
                                     <div ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></div>

                                 </ui-select-choices>
                             </ui-select>
                          </div>

                         <div class="btn-group dropdown-default  m-r-5" >
                             <label>&nbsp;</label><br />
                           <button id="show-modal" class="btn btn-primary pull-right m-r-5" ng-click="applyFilter()" ><i class="fa fa-search"></i> Apply</button>

                          </div>

                    </div>
                </div>-->
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover table-condensed " datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" width="1800px">
                    </table>
            </div>
        </div>
    </div>
    <!-- END PANEL -->
</div>

<!--START FORM INPUT-->
<div class="modal fade slide-right form-input-full" id="form-input" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content-wrapper">
      <div class="modal-content" style="background-image: url('pages/mtbgform.png');">
      <div class="panel-heading">
       <div class="panel-title">Package Information</div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
        </button>
       </div>
        <div class="container-xs-height full-height">
          <div class="row-xs-height">
            <div class="modal-body col-xs-height col-top">

      <!-- START FORM -->
      <div class="panel panel-transparent m-t-20">
          <form id="form-user" role="form" autocomplete="off" name="dodol" novalidate>
              <div class="row clearfix">
                  <div class="col-sm-3">
                      <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : coa.code.$invalid && !coa.code.$pristine }">
                          <label>Code</label>
                          <input type="text" class="form-control" name="code" id="coa_code" ng-model="coa.code" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div pg-form-group class="form-group form-group-default form-group-default-select  " >
                          <label>Type</label>
                          <ui-select ng-model="selected.type.selected" theme="bootstrap">
                              <ui-select-match placeholder="select type">{{$select.selected.name}}</ui-select-match>
                              <ui-select-choices repeat="item in type | filter: $select.search">
                                  <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                              </ui-select-choices>
                          </ui-select>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div pg-form-group class="form-group form-group-default form-group-default-select  required" ng-class="{ 'has-error' : selected.status.selected.$invalid && !selected.status.selected.$pristine }">
                          <label>Status</label>
                          <ui-select ng-model="selected.status.selected" theme="bootstrap" validate-attached-form-element required>
                              <ui-select-match placeholder="select status">{{$select.selected.name}}</ui-select-match>
                              <ui-select-choices repeat="item in status | filter: $select.search">
                                  <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                              </ui-select-choices>
                          </ui-select>
                      </div>
                  </div>

              </div>


              <div class="row clearfix">
                  <div class="col-sm-6">
                      <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : coa.name.$invalid && !coa.name.$pristine }">
                          <label>Name</label>
                          <input type="text" class="form-control" name="name" ng-model="coa.name" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div pg-form-group class="form-group form-group-default form-group-default-select " >
                          <label>Meal Coupon</label>
                          <ui-select ng-model="selected.is_meal_coupon.selected" theme="bootstrap" >
                              <ui-select-match placeholder="select..">{{$select.selected.name}}</ui-select-match>
                              <ui-select-choices repeat="item in yesno | filter: $select.search">
                                  <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                              </ui-select-choices>
                          </ui-select>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-6">
                      <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : coa.text_on_folio.$invalid && !coa.text_on_folio.$pristine }">
                          <label>Text on Folio</label>
                          <input type="text" class="form-control" name="text_on_folio" ng-model="coa.text_on_folio" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div pg-form-group class="form-group form-group-default form-group-default-select " >
                          <label>Rate Operator</label>
                          <ui-select ng-model="selected.rate_operator.selected" theme="bootstrap" >
                              <ui-select-match placeholder="select..">{{$select.selected.name}}</ui-select-match>
                              <ui-select-choices repeat="item in rate_operator | filter: $select.search">
                                  <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                              </ui-select-choices>
                          </ui-select>
                      </div>
                  </div>
              </div>

              <div class="row clearfix">
                  <div class="col-sm-3">
                      <div pg-form-group class="form-group form-group-default form-group-default-select " >
                          <label>Package Type</label>
                          <ui-select ng-model="selected.package_type.selected" theme="bootstrap" >
                              <ui-select-match placeholder="select..">{{$select.selected.name}}</ui-select-match>
                              <ui-select-choices repeat="item in package_type | filter: $select.search">
                                  <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                              </ui-select-choices>
                          </ui-select>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div pg-form-group class="form-group form-group-default form-group-default-select " >
                          <label>Package Category</label>
                          <ui-select ng-model="selected.package_category.selected" theme="bootstrap" >
                              <ui-select-match placeholder="select..">{{$select.selected.name}}</ui-select-match>
                              <ui-select-choices repeat="item in package_category | filter: $select.search">
                                  <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                              </ui-select-choices>
                          </ui-select>
                      </div>
                  </div>
                <div class="col-sm-3">
                    <div pg-form-group class="form-group form-group-default form-group-default-select  required" ng-class="{ 'has-error' : selected.currency.selected.$invalid && !selected.currency.selected.$pristine }">
                        <label>Currency</label>
                        <ui-select ng-model="selected.currency.selected" theme="bootstrap" validate-attached-form-element required>
                            <ui-select-match placeholder="select..">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item in currency | filter: $select.search">
                                <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

            </div>


          <div class="row clearfix">
              <div class="col-sm-3">
                  <div pg-form-group class="form-group form-group-default form-group-default-select  " >
                      <label>Hidden for User Selection</label>
                      <ui-select ng-model="selected.is_hidden_for_user_selection.selected" theme="bootstrap" >
                          <ui-select-match placeholder="select..">{{$select.selected.name}}</ui-select-match>
                          <ui-select-choices repeat="item in yesno | filter: $select.search">
                              <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                          </ui-select-choices>
                      </ui-select>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div pg-form-group class="form-group form-group-default form-group-default-select  " >
                      <label>Comission</label>
                      <ui-select ng-model="selected.is_commission.selected" theme="bootstrap" >
                          <ui-select-match placeholder="select..">{{$select.selected.name}}</ui-select-match>
                          <ui-select-choices repeat="item in yesno | filter: $select.search">
                              <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                          </ui-select-choices>
                      </ui-select>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div pg-form-group class="form-group form-group-default form-group-default-select  " >
                      <label>Included Tax</label>
                      <ui-select ng-model="selected.is_tax_included.selected" theme="bootstrap" >
                          <ui-select-match placeholder="select..">{{$select.selected.name}}</ui-select-match>
                          <ui-select-choices repeat="item in yesno | filter: $select.search">
                              <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                          </ui-select-choices>
                      </ui-select>
                  </div>
              </div>

        </div>
        <div class="row clearfix">
            <div class="col-sm-3">
                <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : coa.flat_rate.$invalid && !coa.flat_rate.$pristine }">
                    <label>Flat Rate</label>
                    <input type="text" class="form-control" name="code" id="flat_rate" ng-model="coa.flat_rate">
                </div>
            </div>
            <div class="col-sm-3">
                <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : coa.adult_rate.$invalid && !coa.adult_rate.$pristine }">
                    <label>Adult Rate</label>
                    <input type="text" class="form-control" name="code" id="adult_rate" ng-model="coa.adult_rate">
                </div>
            </div>
            <div class="col-sm-3">
                <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : coa.child_rate.$invalid && !coa.child_rate.$pristine }">
                    <label>Child Rate</label>
                    <input type="text" class="form-control" name="code" id="child_rate" ng-model="coa.child_rate">
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-3">
                <div pg-form-group class="form-group form-group-default">
                    <label>Valid Date From</label>
                    <input type="text" class="form-control" ng-model="coa.valid_date_from" name="valid_date_from" placeholder="Pick a date" data-date-format="yyyy-mm-dd" ui-jq="datepicker" >
                    <!--<input type="text" class="form-control" name="valid_date_from" ng-model="coa.valid_date_from" >-->
                </div>
            </div>
            <div class="col-sm-3">
                <div pg-form-group class="form-group form-group-default">
                    <label>Valid Date Until</label>
                    <input type="text" class="form-control" ng-model="coa.valid_date_until" name="valid_date_until" placeholder="Pick a date" data-date-format="yyyy-mm-dd" ui-jq="datepicker" >
                    <!--<input type="text" class="form-control" name="valid_date_until" ng-model="coa.valid_date_until" >-->
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                    <h4>Active Days</h4>
                    <div class="checkbox check-primary" >

                        <input type="checkbox" id="cbMonday" ng-checked="selected.is_monday_active==1" ng-true-value="1" ng-model="selected.is_monday_active" >
                        <label for="cbMonday">Monday</label>
                        <input type="checkbox" id="cbTuesday" ng-checked="selected.is_tuesday_active==1" ng-true-value="1" ng-model="selected.is_tuesday_active" >
                        <label for="cbTuesday">Tuesday</label>
                        <input type="checkbox" id="cbWednesday" ng-checked="selected.is_wednesday_active==1" ng-true-value="1" ng-model="selected.is_wednesday_active" >
                        <label for="cbWednesday">Wednesday</label>
                        <input type="checkbox" id="cbThursday" ng-checked="selected.is_thursday_active==1" ng-true-value="1" ng-model="selected.is_thursday_active" >
                        <label for="cbThursday">Thursday</label>
                        <input type="checkbox" id="cbFriday" ng-checked="selected.is_friday_active==1" ng-true-value="1" ng-model="selected.is_friday_active" >
                        <label for="cbFriday">Friday</label>
                        <input type="checkbox" id="cbSaturday" ng-checked="selected.is_saturday_active==1" ng-true-value="1" ng-model="selected.is_saturday_active" >
                        <label for="cbSaturday">Saturday</label>
                        <input type="checkbox" id="cbSunday" ng-checked="selected.is_sunday_active==1" ng-true-value="1" ng-model="selected.is_sunday_active" >
                        <label for="cbSunday">Sunday</label>
                    </div>


            </div>
        </div>


        <div class="row clearfix">
        <div class="col-sm-12">
            <h4>Room Rate Package</h4>
            <!--<div ng-if="show.itemTable" id="divItem" >-->
            <div ng-controller="EditableTablePkgCtrl" ng-form editable-form name="tableform" onaftersave="child.saveTable()" oncancel="cancel()">


                                  <!-- table -->
                                  <table class="table  table-hover itemtable">
                                      <thead>
                                      <tr>
                                          <th width="10%"><span ng-show="tableform.$visible">Action</span></th>
                                          <th width="10%">Room Rate Code</th>
                                          <th width="10%">Valid Date From</th>
                                          <th width="10%">Valid Date Until</th>
                                      </tr>
                                      </thead>

                                      <tbody>
                                      <tr ng-repeat="item in items | filter:filterUser">
                                          <td style="vertical-align: middle;">
                                              <div class="btn-group btn-group-xs" ng-show="tableform.$visible">
                                                  <button type="button" class="btn btn-default" ng-click="deleteUser(item.id)" ><i class="fa fa-trash-o"></i></button>
                                              </div>
                                          </td>
                                          <td>
                                              <span editable-ui-select="item.room_rate" theme="bootstrap" data-e-name="room_rate" name="room_rate" data-e-ng-model="selected.room_rate.selected"
                                              data-e-form="tableform" data-e-ng-keyup="roomRateUp(item.id,$select.search)" data-e-on-select="getRoomRate($item,item.id)" >
                                              {{item.room_rate}}
                                                    <editable-ui-select-match placeholder="select rate" style="width: 300px" >
                                                        <!--{{$select.selected.name}}-->
                                                        {{item.room_rate || 'Empty'}}
                                                    </editable-ui-select-match>
                                                    <editable-ui-select-choices repeat="d in room_rate[item.id] | filter: $select.search">
                                                        <div ng-bind-html="trustAsHtml((d.code | highlight: $select.search))"></div>
                                                        <small ng-bind-html="trustAsHtml((d.name | highlight: $select.search))"></small>
                                                    </editable-ui-select-choices>
                                              </span>
                                          </td>
                                          <td >
                                              <span editable-text="item.valid_date_from" theme="bootstrap" e-form="tableform" data-e-ng-change="setVal($event,item.id,$data,'valid_date_from')" data-e-data-date-format="yyyy-mm-dd" data-e-ui-jq="datepicker">
                                                  {{ item.valid_date_from||'Not valid' }}
                                              </span>
                                          </td>
                                          <td >
                                              <span editable-text="item.valid_date_until" theme="bootstrap" e-form="tableform" data-e-ng-change="setVal($event,item.id,$data,'valid_date_until')" data-e-data-date-format="yyyy-mm-dd" data-e-ui-jq="datepicker">
                                                  {{ item.valid_date_until||'Not valid' }}
                                              </span>
                                          </td>
                                      </tr>
                                      </tbody>
                                  </table>

                                  <!-- buttons -->
                                  <div class="btn-edit">
                                    <button type="button" class="btn btn-primary" ng-show="!tableform.$visible" ng-click="tableform.$show()">
                                      Modify Item List
                                    </button>
                                  </div>
                                  <div class="btn-form" ng-show="tableform.$visible">

                                    <button type="submit" ng-disabled="tableform.$waiting" ng-click="tableform.$hide();child.saveTable(0)" class="btn btn-primary"> Save Item</button>
                                    <button type="button" ng-disabled="tableform.$waiting" ng-click="addUser()" class="btn btn-primary "> Add New Item</button>
                                    <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn btn-default">Cancel</button>
                                  </div>

            </div>
        </div>
        </div>

              </div>

              <br>
              <div class="clearfix"></div>
              <button class="btn btn-primary" type="submit" ng-disabled="dodol.$invalid" ng-click="submit()" >Save</button>
              <button class="btn btn-default"><i class="pg-close"></i> Clear</button>
          </form>
      </div>
      <!-- END FORM -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!--END FORM INPUT-->

<!-- START MODAL CONTENT-->
<div class="modal fade slide-up disable-scroll" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-body text-center m-t-20">
                    <h4 class="no-margin p-b-10">Are you sure want to delete {{coa.name}} ?</h4>
                    <div >
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="execDelete()">Yes</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- END MODAL CONTENT-->
