<div id="printSection">
    <div class="row">
        <table width="98%">
            <tr>
                <td width="50%" align="center">
                    <div class="brand inline text-center center">
                        <img class="center text-center" src="container/img/app/mt_logo.png" alt="logo" data-src="container/img/app/mt_logo.png" data-src-retina="container/img/app/mt_logo.png" width="200" height="40">
                    </div>

                    <br><br><br>
                    <span class="text-center" style="align:center;">JL. GUNUNG SAHARI RAYA NO.3 JAKARTA 10720</span>
                    <br>
                    <span class="text-center">PHONE : (62-21) 626 3001</span>&nbsp;&nbsp;
                    <span class="text-center">FAX : (62-21) 626 3024</span>
                    <br>
                    <span class="text-center">NPWP. 01.573.522.8-026.000</span>
                </td>
                <td width="50%">
					<span style="font-size:30px">
						<b>Purchase Order</b>
					</span>
					<br>
                    <br>
					<span>
						<b>DATE OF ORDER :</b> {{po.created_date}}
					</span>
					<br>
					<span>
						<b>DATE REQUIRED :</b> {{po.delivery_date}}
					</span>
					<br>
					<span>
						<b>PO NO. :</b> {{po.code}}
					</span>
					<br>
					<span>
						<b>REQUESTED BY :</b> {{po.dept}}
					</span>
					<br>
					<span>
						<b>Cost center :</b> {{selected.cost_center.selected.name}}
					</span>
                </td>
            </tr>
            <br>
            <tr>
                <td>
                    <table border="1" width="80%" align="center">
                        <tr>
                            <td align="center" style="background-color: #000000;color: white;"><b>SUPPLIER ADDRESS</b></td>
                        </tr>
                        <tr>
                            <td>
                                {{po.supplier_name}}<br>
                                {{po.supplier_address}}<br>
                                Contact Person: {{po.supplier_cp}}<br>
								PHONE NO : {{po.supplier_phone}}<br>
								FAX NO : {{po.supplier_fax}}
                            </td>
                        </tr>
                    </table>
                    <br>
                </td>
                <td>
                    <!--<table border="1" width="80%" align="center">
                        <tr>
                            <td align="center" style="background-color: #000000;color: white;"><b>DATE OF ORDER :</b> {{po.created_date}}</td>
                            <td align="center" style="background-color: #000000;color: white;"><b>DATE REQUIRED :</b> {{po.delivery_date}}</td>
                            <td align="center" style="background-color: #000000;color: white;"><b>PO NO. :</b> {{po.code}}</td>
                        </tr>
                        <tr>
                            <td align="center">{{po.created_date}}</td>
                            <td align="center">{{po.delivery_date}}</td>
                            <td align="center">{{po.code}}</td>
                        </tr>
                    </table>
                    <br>
                    <table border="1" width="80%" align="center">
                        <tr>
                            <td align="center" style="background-color: #000000;color: white;"><b>REQUESTED BY DEPT</b></td>
                        </tr>
                        <tr>
                            <td align="center" >{{po.dept}}</td>
                        </tr>
                    </table>-->
                </td>
            </tr>
        </table>
        <br>
        <table width="89%" cellpadding="5" border="1" align="center">
            <thead>
            <tr>

                <td width="5%" align="center"><b>Code</b></th>
                <td width="25%" align="center"><b>Product</b></th>
				<td width="25%" align="center"><b>Notes</b></th>
                <td width="5%" align="center"><b>Unit</b></th>
                <td width="5%" align="center"><b>Qty</b></th>
                <td width="10%" align="center"><b>Price</b></th>
                <td width="10%" align="center"><b>Amount</b></th>

            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="item in items | filter:filterUser">

                <td>{{item.product_code}}</td>
                <td>{{item.product_name}}</td>
				<td>{{item.order_notes}}</td>
                <td > {{item.unit_name}}</td>
                <td style="text-align: right;">
                        {{ item.qty | number : fractionSize}}
                </td>
                <td style="text-align: right;">
                        {{ item.price | number : fractionSize}}
                </td>
                <td style="text-align: right;">
                        {{ item.amount | number : fractionSize}}
                </td>
            </tr>
            </tbody>
            <tfooter width="80%" border="1" align="center">
		<!--		<tr>
                    <td colspan="4" style="text-align: center;"><b>SubTotal</b></th>
                    <td style="text-align: right;"><span ><b>{{totalQty| number : fractionSize}}</b></span></th>
                    <td style="text-align: center;">&nbsp;</th>
                    <td style="text-align: right;"><span ><b>{{tAmt| number : fractionSize}}</b></span></th>
                </tr>
				<tr>
                    <td colspan="4" style="text-align: center;"><b>TAX</b></th>
                    <td style="text-align: center;">&nbsp;</th>
                    <td style="text-align: center;">&nbsp;</th>
                    <td style="text-align: right;"><span ><b>{{tAmt*0.1| number : fractionSize}}</b></span></th>
                </tr>-->
                <tr>
                    <td colspan="4" style="text-align: center;"><b>Total</b></th>
                    <td style="text-align: right;"><span ><b>{{totalQty| number : fractionSize}}</b></span></th>
                    <td style="text-align: center;">&nbsp;</th>
                    <td style="text-align: right;"><span ><b>{{tAmt| number : fractionSize}}</b></span></th>
                </tr>
            </tfooter>
        </table>
		<span style="padding-left:87px;">
			<i>Pengiriman ke The Media Hotel & Towers di tempat</i>
		</span>
		<br>
		<span style="padding-left:87px;">
			<i>penerimaan di Jalan Industri Entrance Weekdays - 8.30 AM to 3.00 PM</i>
		</span>
		<br><br>
        <span width="89%" style="padding-left:87px;">
            <b><i>Notes: This document is valid without a signature or the company stamp</i></b>
        </span>
        <table width="89%" cellpadding="5" border="0" align="center">
            <tr>
                <td style="border-bottom:1pt solid black;padding-right:20px;padding-left:20px;">

                </td>
                <td>&nbsp;</td>
                <td style="border-bottom:1pt solid black;padding-right:20px;padding-left:20px;">

                </td>
                <td>&nbsp;</td>
                <td style="border-bottom:1pt solid black;padding-right:20px;padding-left:20px;">

                </td>
                <td>&nbsp;</td>
                <td valign="top">
                </td>
            </tr>
            <tr>
                <td align="center">
                    Purchasing Manager
                </td>
                <td>&nbsp;</td>
                <td align="center">
                    Financial Controller
                </td>
                <td>&nbsp;</td>
                <td align="center">
                    General Manager
                </td>
                <td>&nbsp;</td>
                <td>
                    &nbsp;
                </td>
            </tr>
        </table>
    </div>



</div>

<div class="full-height m-t-40">
    <!-- TABLES VIEW -->
    <div class="container-fluid container-fixed-lg">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
            <div class="panel-heading">
                <div class="panel-title">Purchase Order
                </div>
                <div class="pull-right" style="width: 60%;">
                    <button id="show-modal2" class="btn btn-primary pull-right" ng-click="openAdvancedFilter(true)"><i class="fa fa-search"></i></button>
                    <!--<button id="show-modal" class="btn btn-primary btn-cons pull-right" ng-click="openQuickView('add')" ng-if="show.prTable" ng-show="buttonCreate"><i class="fa fa-plus"></i> Add PO</button>-->
                    <!--<button id="show-modal" class="btn btn-primary btn-cons pull-right" ng-click="openQuickViewItem('add')" ng-if="show.itemTable" ng-show="addItem"><i class="fa fa-plus"></i> Add Item</button>-->
                    <div class="input-group date col-sm-4 pull-right m-r-10">
                        <input type="text" id="search-table" class="form-control pull-right" placeholder="Search PO Number.." ng-keyup="filter('search',$event)" ng-model="filterVal.search">
                    </div>

                </div>
                <div class="clearfix"></div>
                <div class="tools">
                    <a class="collapse" href="javascript:;"></a>
                    <a class="config" data-toggle="modal" href="#grid-config"></a>
                    <a class="reload" href="javascript:;"></a>
                    <a class="remove" href="javascript:;"></a>
                </div>
                <div class="panel panel-default m-t-5" pg-portlet ng-show="showAdvance">
                    <div class="panel-heading">
                        <div class="panel-title">Advanced Search
                        </div>
                        <div class="panel-controls">
                            <ul>
                                <li><a href="" ng-click="openAdvancedFilter(false)"><i class="portlet-icon portlet-icon-close"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body" >
                        <div class="row col-md-12">
                            <div class="btn-group dropdown-default pull-left  m-r-5">
                                <label>Status:</label><br />
                                <ui-select multiple ng-model="selected.filter_status" theme="select2" ng-disabled="disabled" style="width: 300px;" >
                                    <ui-select-match placeholder="Filter Status...">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in delivery_status | filter:$select.search">
                                        {{item.name}}
                                    </ui-select-choices>
                                </ui-select>
                             </div>
                             <div class="input-prepend input-group pull-left lDate m-r-5" >
                                 <label>Expected Delivery Date:</label><br />
                                <input type="text" class="form-control" ng-model="f.filter_date1" name="filter_date1" placeholder="Pick a date" ui-jq="datepicker" data-date-format="yyyy-mm-dd" >
                                <!--<span class="add-on input-group-addon bDate"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>-->
                            </div>
                            <div class="input-prepend input-group pull-left lDate m-r-5" >
                                <label>&nbsp;</label><br />
                               <input type="text" class="form-control" ng-model="f.filter_date2" name="filter_date2" placeholder="Pick a date" ui-jq="datepicker" data-date-format="yyyy-mm-dd" >
                               <!--<span class="add-on input-group-addon bDate"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>-->
                           </div>
                            <div class="btn-group form-group-default-select pull-left  m-r-5">
                                <label>Source:</label><br />
                                <ui-select ng-model="selected.filter_source.selected" theme="bootstrap"  >
                                    <ui-select-match placeholder="Select Source">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in source | filter: $select.search">
                                        <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                                    </ui-select-choices>
                                </ui-select>
                             </div>
                            <div class="btn-group form-group-default-select pull-left  m-r-5">
                                <label>Store Location:</label><br />
                                <ui-select ng-model="selected.filter_warehouse.selected" theme="bootstrap"  >
                                    <ui-select-match placeholder="Select Location">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in warehouse | filter: $select.search">
                                        <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                                    </ui-select-choices>
                                </ui-select>
                             </div>
                        </div>

                        <div class="row col-md-12 m-t-10">
                            <div class="btn-group form-group-default-select pull-left  m-r-5">
                                <label>Cost Center:</label><br />
                                <ui-select ng-model="selected.filter_cost_center.selected" theme="bootstrap" ng-keyup="costCenterUp($select.search)" ng-disabled="viewMode" on-select="pr.cost_center_id=selected.cost_center.selected.id" >
                                    <ui-select-match placeholder="Pick Cost Center">{{$select.selected.code}}</ui-select-match>
                                    <ui-select-choices repeat="item in cost_center | filter: $select.search">
                                        <div ng-bind-html="trustAsHtml((item.code+' - '+item.name | highlight: $select.search))"></div>
                                        <small ng-bind-html="trustAsHtml((item.dept_desc | highlight: $select.search))"></small>
                                    </ui-select-choices>
                                </ui-select>
                             </div>
                             <div class="btn-group form-group-default-select pull-left  m-r-5">
                                 <label>Supplier:</label><br />
                                 <ui-select ng-model="selected.filter_supplier.selected" theme="bootstrap" ng-keyup="supplierUp($select.search)" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required>
                                     <ui-select-match placeholder="Pick Supplier">{{$select.selected.name}}</ui-select-match>
                                     <ui-select-choices repeat="item in supplier | filter: $select.search">
                                         <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                                     </ui-select-choices>
                                 </ui-select>
                              </div>

                            <div class="btn-group dropdown-default pull-left  m-r-5" >
                                <label>&nbsp;</label><br />
                              <button id="show-modal" class="btn btn-primary pull-right" ng-click="applyFilter()" ><i class="fa fa-search"></i> Apply</button>
                             </div>
                        </div>





                        <!--<div class="input-prepend input-group date col-sm-4 pull-right m-r-5" style="width: 250px;" >
                          <input date-range-picker type="text" placeholder="filter due date" class="form-control date-picker lDate">
                          <span class="add-on input-group-addon bDate"><i class="fa fa-calendar"></i></span>
                      </div>-->



                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div id="divPr" >
                    <table class="table table-hover table-condensed " id="prTable" name="prTable" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="nested.dtInstance" width="2200px">
                    </table>
                </div>

            </div>
        </div>
    <!-- END PANEL -->
    </div>

<!--START FORM INPUT-->
<div class="modal fade slide-right form-input-full" id="form-input" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content-wrapper">
      <div class="modal-content" style="background-image: url('pages/mtbgform.png');">
      <div class="panel-heading">
       <div class="panel-title">Purchase Order Information</div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
        </button>
       </div>
        <div class="container-xs-height full-height">
          <div class="row-xs-height">
            <div class="modal-body col-xs-height col-top">

      <!-- START FORM -->
      <div class="panel panel-transparent m-t-20">

          <form id="form-user" role="form" autocomplete="off" name="dodol" novalidate>
              <div class="row clearfix">
              <div class="col-sm-12">
                  <h4>PO Document</h4>
                  <div class="row clearfix">
                      <div class="col-sm-12">
                          <div class="col-md-3">
                              <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : po.code.$invalid && !po.code.$pristine }">
                                  <label>PO Number</label>
                                  <input type="text" class="form-control" name="code" ng-model="po.code" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required ng-disabled="true" ng-readonly="true">
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div pg-form-group class="form-group form-group-default form-group-default-select  required" ng-class="{ 'has-error' : po.delivery_status.$invalid && !po.delivery_status.$pristine }" >
                                  <label>Status</label>
                                  <ui-select ng-model="selected.delivery_status.selected" theme="bootstrap" on-select="po.delivery_status=$select.selected.id">
                                      <ui-select-match placeholder="Select Status">{{$select.selected.name}}</ui-select-match>
                                      <ui-select-choices repeat="item in delivery_status | filter: $select.search">
                                          <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                                      </ui-select-choices>
                                  </ui-select>
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div pg-form-group class="form-group form-group-default form-group-default-select " >
                                  <label>Delivered To</label>
                                  <ui-select ng-model="selected.warehouse.selected" theme="bootstrap"  on-select="po.warehouse_id=selected.warehouse.selected.id" ng-disabled="true">
                                      <ui-select-match placeholder="Select Location">{{$select.selected.name}}</ui-select-match>
                                      <ui-select-choices repeat="item in warehouse | filter: $select.search">
                                          <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                                      </ui-select-choices>
                                  </ui-select>
                              </div>
                          </div>
                          <div class="col-md-3">
                              <!--<div pg-form-group class="form-group form-group-default form-group-default-select  required" ng-class="{ 'has-error' : pr.cost_center_id.$invalid && !pr.cost_center_id.$pristine }">
                                  <label>Cost Center</label>
                                  <ui-select ng-model="selected.cost_center.selected" theme="bootstrap" ng-disabled="viewMode" on-select="pr.cost_center_id=selected.cost_center.selected.id" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required>
                                      <ui-select-match placeholder="Pick Cost Center">{{$select.selected.name}}</ui-select-match>
                                      <ui-select-choices repeat="item in cost_center | filter: $select.search">
                                          <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                                      </ui-select-choices>
                                  </ui-select>
                              </div>-->
                              <div pg-form-group class="form-group form-group-default form-group-default-select ">
                                  <label>Cost Center</label>
                                  <ui-select ng-model="selected.cost_center.selected" theme="bootstrap" ng-keyup="costCenterUp($select.search)" ng-disabled="true" on-select="pr.cost_center_id=selected.cost_center.selected.id" >
                                      <ui-select-match placeholder="Pick Cost Center">{{$select.selected.name}}</ui-select-match>
                                      <ui-select-choices repeat="item in cost_center | filter: $select.search">
                                          <div ng-bind-html="trustAsHtml((item.code | highlight: $select.search))"></div>
                                          <small ng-bind-html="trustAsHtml((item.dept_desc | highlight: $select.search))"></small>
                                      </ui-select-choices>
                                  </ui-select>
                              </div>
                          </div>


                      </div>
                      <div class="col-sm-12">
                          <div class="col-md-3">
                              <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : po.delivery_date.$invalid && !po.delivery_date.$pristine }">
                                  <label>Expected Delivery Date</label>
                                  <input type="text" class="form-control" ng-model="po.delivery_date" name="delivery_date" placeholder="Pick a date" id="startDate" ui-jq="datepicker" ng-model="contract.startDate" data-date-format="yyyy-mm-dd" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required ng-disabled="viewMode">
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div pg-form-group class="form-group form-group-default" >
                                  <label>Purchase Request No.</label>
                                  <input type="text" class="form-control" name="notes" ng-model="po.pr_code" ng-disabled="true" ng-readonly="true">
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div pg-form-group class="form-group form-group-default" >
                                  <label>Market List No.</label>
                                  <input type="text" class="form-control" name="notes" ng-model="po.ml_code" ng-disabled="true" ng-readonly="true">
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div pg-form-group class="form-group form-group-default" >
                                  <label>Purchase Notes</label>
                                  <input type="text" class="form-control" name="notes" ng-model="po.notes" >
                              </div>
                          </div>
                      </div>

                      <div class="col-sm-12">
                          <div class="col-md-3">
                              <div pg-form-group class="form-group form-group-default form-group-default-select required" ng-class="{ 'has-error' : po.supplier_id.$invalid && !po.supplier_id.$pristine }">
                                  <label>Supplier</label>
                                  <ui-select ng-model="selected.supplier.selected" theme="bootstrap" ng-disabled="true" on-select="po.supplier_id=selected.supplier.selected.id" ng-keyup="supplierUp($select.search)" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required>
                                      <ui-select-match placeholder="Pick Supplier">{{$select.selected.name}}</ui-select-match>
                                      <ui-select-choices repeat="item in supplier | filter: $select.search">
                                          <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                                      </ui-select-choices>
                                  </ui-select>
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div pg-form-group class="form-group form-group-default form-group-default-select ">
                                  <label>Payment</label>
                                  <ui-select ng-model="selected.payment_type.selected" theme="bootstrap" ng-disabled="viewMode" on-select="po.payment_type=selected.payment_type.selected.id" >
                                      <ui-select-match placeholder="Pick Payment">{{$select.selected.name}}</ui-select-match>
                                      <ui-select-choices repeat="item in payment_type | filter: $select.search">
                                          <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                                      </ui-select-choices>
                                  </ui-select>
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div pg-form-group class="form-group form-group-default" >
                                  <label>Due Days</label>
                                  <input type="number" min="0" class="form-control" name="notes" ng-model="po.due_days" >
                              </div>
                          </div>
                          <div class="col-md-3">
                              <div pg-form-group class="form-group form-group-default form-group-default-select ">
                                  <label>Currency</label>
                                  <ui-select ng-model="selected.currency.selected" theme="bootstrap" ng-disabled="viewMode" on-select="po.currency=selected.currency.selected.id" >
                                      <ui-select-match placeholder="Pick Currency">{{$select.selected.name}}</ui-select-match>
                                      <ui-select-choices repeat="item in currency | filter: $select.search">
                                          <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                                      </ui-select-choices>
                                  </ui-select>
                              </div>
                          </div>





                      </div>




                  </div>
              </div>
              </div>
              <div class="row clearfix">
              <div class="col-sm-12">
                  <h4>List of Item</h4>
                  <div ng-controller="EditableTablePoCtrl" ng-form editable-form name="tableform" onaftersave="child.saveTable()" oncancel="cancel()" >
                                        <!-- table -->
                                        <table class="table  table-hover itemtable">
                                            <thead>
                                            <tr>
                                                <th width="5%"><span ng-show="tableform.$visible">Action</span></th>
                                                <th width="5%">Code</th>
                                                <th width="15%">Product</th>
                                                <th width="5%">Unit</th>
												<th width="15%" ng-if="po.po_source=='DP'">Cost center</th>
												<th width="15%">Notes</th>
                                                <th width="5%">Qty</th>
                                                <th width="15%">Price</th>
                                                <th width="15%">Amount</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr ng-repeat="item in items | filter:filterUser">

                                                <td style="vertical-align: middle;">
                                                    <div class="btn-group btn-group-xs" ng-show="tableform.$visible">
                                                        <button type="button" class="btn btn-default" title="Delete" ng-click="deleteUser(item.id)" ><i class="fa fa-trash-o"></i></button>
                                                    </div>
                                                </td>
                                                <td><span>{{item.product_code}}</span></td>

												<td><span>{{item.product_name}}</span></td>
                                                <td><span>{{item.unit_name}}</span></td>
												<td ng-if="po.po_source=='DP'"><span>{{item.cost_center_name}}</span></td>
												<td>
                                                    <span editable-textarea="item.order_notes" e-form="tableform" data-e-ng-keyup="updateNotes($event,item.id,$data)">
                                                        {{ item.order_notes }}
                                                    </span></td>
                                                <td>
                                                    <span editable-text="item.qty" e-form="tableform" data-e-ng-keyup="setValue($event,item.id,$data,'qty')">
                                                        {{ item.qty | number : fractionSize}}
                                                    </span></td>
                                                <td >
                                                    <span editable-text="item.price" e-form="tableform" data-e-ng-keyup="setValue($event,item.id,$data,'price')">
                                                        {{ item.price | number : fractionSize}}
                                                    </span>
                                                </td>
                                                <td><span>{{item.amount | number : fractionSize}}</span></td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <!-- buttons -->
                                        <!--<div class="btn-edit">
                                          <button type="button" class="btn btn-primary" ng-show="!tableform.$visible" ng-click="tableform.$show()">
                                            Modify Item List
                                          </button>
                                        </div>
                                        <div class="btn-form" ng-show="tableform.$visible">

                                          <button type="submit" ng-disabled="tableform.$waiting" ng-click="tableform.$hide();child.saveTable(0)" class="btn btn-primary"> Save Item</button>
                                          <button type="button" ng-disabled="tableform.$waiting" ng-click="addUser()" class="btn btn-primary "> Add New Item</button>
                                          <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn btn-default">Cancel</button>
                                      </div>-->

                  </div>

                  <!--<div ng-if="show.itemTable" id="divItem" >-->
                  <!--<div  id="divItem" >
                      <table class="table table-condensed m-b-0" >
                          <tr>
                              <th width="5%">
                                  <div class="form-group">
                                      <button class="btn btn-primary btn-small pull-right" ng-click="addItem()" ng-show="addItem"><i class="fa fa-plus"></i></button>
                                  </div>
                              </th>
                              <th width="35%">
                                      <label width="100%">
                                          <div class="form-group clearfix">
                                              <ui-select ng-model="selected.product.selected" theme="bootstrap" on-select="getProductPrice($item)" ng-keyup="productUp($select.search)" style="width: 300px;">
                                                  <ui-select-match placeholder="Product...">{{$select.selected.name}}</ui-select-match>
                                                  <ui-select-choices repeat="item in products | filter: $select.search">
                                                      <div ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></div>
                                                  </ui-select-choices>
                                              </ui-select>
                                          </div>
                                      </label>

                              </th>
                              <th width="8%">
                                  <div class="form-group">
                                      <label>
                                          <input placeholder="Qty..." type="number" class="form-control" name="Qty" ng-model="item2Add.qty" value="1" ng-keyup="updatePrice($event)">
                                      </label>
                                  </div>
                              </th>
                              <th width="10%">
                                  <div class="form-group">
                                      <label>
                                          <input placeholder="Price..." type="number" class="form-control" name="Price" ng-model="item2Add.price" ng-value="item2Add.price" ng-keyup="updatePrice($event)">
                                      </label>
                                  </div>
                              </th>
                              <th width="10%">
                                  <div class="form-group">
                                      <label>
                                          <input placeholder="Amount..." type="text" class="form-control" name="Amount" ng-model="item2Add.amount" ng-value="item2Add.amount" ng-readonly="true">
                                      </label>
                                  </div>
                              </th>

                          </tr>
                      </table>
                        <table class="table table-hover itemtable" id="itemTable" name="itemTable"  dt-options="dtOptionsItem"  dt-column-defs="dtColumnDefs" dt-instance="nested.dtInstanceItem">
                            <thead>
                            <tr>
                                <th width="5%">Action</th>
                                <th width="35%">Product</th>
                                <th width="5%">Qty</th>
                                <th width="10%">Price</th>
                                <th width="10%">Amount</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in items">
                                <td width="5%">
                                    <div class="btn-group btn-group-xs">
                                        <button type="button" class="btn btn-default" ng-click="modifyItem($index)" ><i class="fa fa-edit"></i></button>
                                        <button type="button" class="btn btn-default" ng-click="removeItem($index)" ><i class="fa fa-trash-o"></i></button>
                                    </div>
                                </td>
                                <td width="35%">{{ item.product_name }}</td>
                                <td width="5%">{{ item.qty }}</td>
                                <td width="10%">{{ item.price }}</td>
                                <td width="10%">{{ item.amount }}</td>

                            </tr>
                            </tbody>
                        </table>
                  </div>-->
              </div>
              </div>
              <br>
              <div class="row divider"></div>
              <div class="clearfix"></div>
              <button class="btn btn-primary" type="submit" ng-disabled="dodol.$invalid||finalState||disableAction " ng-click="submit()" >Save</button>
              <button class="btn btn-primary" type="submit" ng-show="finalState" ng-print print-element-id="printSection" ng-click="printing=false"><i class="fa fa-print"></i> Print</button>
              <button class="btn btn-default"><i class="pg-close"></i> Clear</button>
          </form>
      </div>
      <!-- END FORM -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!--END FORM INPUT-->

<!-- START INPUT PRODUCT-->



<!-- START MODAL CONTENT-->
<div class="modal fade slide-up disable-scroll" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content" style="background-image: url('pages/mtbgform.png');">
                <div class="modal-body text-center m-t-20">
                    <h4 class="no-margin p-b-10">Are you sure want to cancel PO  {{po.code}} ?</h4>
                    <div >
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="execDelete()">Yes</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="clear()">No</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- END MODAL CONTENT-->
