
<div class="full-height m-t-40">
    <!-- TABLES VIEW -->
    <div class="container-fluid container-fixed-lg">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
            <div class="panel-heading">
                <div class="panel-title">Master Supplier
                </div>
                <div class="pull-right" style="width: 60%;">
                    <button id="show-modal" class="btn btn-primary btn-cons pull-right" ng-click="openQuickView('add')" ng-show="buttonCreate"><i class="fa fa-plus"></i> Add Supplier</button>

                    <div class="input-group date col-sm-4 pull-right m-r-10">
                        <input type="text" id="search-table" class="form-control pull-right" placeholder="Search" ng-keyup="filter('search',$event)" ng-model="filterVal.search">
                    </div>

                </div>
                <div class="clearfix"></div>
                <div class="tools">
                    <a class="collapse" href="javascript:;"></a>
                    <a class="config" data-toggle="modal" href="#grid-config"></a>
                    <a class="reload" href="javascript:;"></a>
                    <a class="remove" href="javascript:;"></a>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover table-condensed " datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance">
                    </table>
            </div>
        </div>
    </div>
    <!-- END PANEL -->
</div>

<!--START FORM INPUT-->
<div class="modal fade slide-right form-input-full" id="form-input" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content-wrapper">
      <div class="modal-content" style="background-image: url('pages/mtbgform.png');">
      <div class="panel-heading">
       <div class="panel-title">Supplier Information</div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
        </button>
       </div>
        <div class="container-xs-height full-height">
          <div class="row-xs-height">
            <div class="modal-body col-xs-height col-top">

      <!-- START FORM -->
      <div class="panel panel-transparent m-t-20">
          <form id="form-user" role="form" autocomplete="off" name="dodol" novalidate>
              <div class="row ">
                  <div class="col-sm-12">
                  </div>
                  <div class="col-sm-12">
                            <div class="col-md-4">
                              <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : supplier.code.$invalid && !supplier.code.$pristine }">
                                  <label>Code</label>
                                  <input type="text" class="form-control" name="code" id="supplier_code" ng-model="supplier.code" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required ng-readonly="true">
                              </div>
                      </div>
                          <div class="col-md-4">
                              <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : supplier.short_name.$invalid && !supplier.short_name.$pristine }">
                                  <label>Short Name</label>
                                  <input type="text" class="form-control" name="short_name" ng-model="supplier.short_name" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required>
                              </div>
                      </div>
					  <div class="col-md-4">
                          <div pg-form-group class="form-group form-group-default form-group-default-select " >
                              <label>Country</label>
                              <ui-select ng-model="selected.country_id.selected" theme="bootstrap" >
                                  <ui-select-match placeholder="select country">{{$select.selected.name}}</ui-select-match>
                                  <ui-select-choices repeat="item in arr.country_id | filter: $select.search">
                                      <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                                  </ui-select-choices>
                              </ui-select>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-12">
                      <div class="col-md-4">
                          <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : supplier.name.$invalid && !supplier.name.$pristine }">
                              <label>Name</label>
                              <input type="text" class="form-control" name="name" ng-model="supplier.name" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : supplier.contact_person.$invalid && !supplier.contact_person.$pristine }">
                              <label>Contact Person</label>
                              <input type="text" class="form-control" name="contact_person" ng-model="supplier.contact_person" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required>
                          </div>
                      </div>
				        <div class="col-md-4">
                          <div pg-form-group class="form-group form-group-default form-group-default-select  required" ng-class="{ 'has-error' : supplier.used_currency.$invalid && !supplier.used_currency.$pristine }">
                              <label>Currency</label>
                              <ui-select ng-model="selected.used_currency.selected" theme="bootstrap" >
                                  <ui-select-match placeholder="set currency">{{$select.selected.code}}</ui-select-match>
                                  <ui-select-choices repeat="item in arr.used_currency | filter: $select.search">
                                      <span ng-bind-html="trustAsHtml((item.code | highlight: $select.search))"></span>
                                  </ui-select-choices>
                              </ui-select>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-12">
                      <div class="col-md-4">
                          <div pg-form-group class="form-group form-group-default" >
                              <label>Phone Number</label>
                              <input type="text" class="form-control" name="phone_number" ng-model="supplier.phone_number">
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div pg-form-group class="form-group form-group-default" >
                              <label>Fax Number</label>
                              <input type="text" class="form-control" name="fax_number" ng-model="supplier.fax_number">
                          </div>
                      </div>
					  <div class="col-md-4">
                          <div pg-form-group class="form-group form-group-default" >
                              <label>Def Payment</label>
                              <input type="text" class="form-control" name="def_payment_type" ng-model="supplier.def_payment_type">
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-12">
                      <div class="col-md-4">
                            <div pg-form-group class="form-group form-group-default form-group-default-select " >
                              <label>Supplier Type</label>
                              <ui-select ng-model="selected.supplier_type.selected" theme="bootstrap" ng-change="changeCode()">
                                  <ui-select-match placeholder="select type">{{$select.selected.name}}</ui-select-match>
                                  <ui-select-choices repeat="item in arr.supplier_type | filter: $select.search">
                                      <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                                  </ui-select-choices>
                              </ui-select>
                          </div>
                      </div>
                      <div class="col-md-4">
                            <div pg-form-group class="form-group form-group-default form-group-default-select  required" ng-class="{ 'has-error' : supplier.status.$invalid && !supplier.status.$pristine }">
                              <label>Status</label>
                              <ui-select ng-model="selected.status.selected" theme="bootstrap" >
                                  <ui-select-match placeholder="select status">{{$select.selected.name}}</ui-select-match>
                                  <ui-select-choices repeat="item in arr.status | filter: $select.search">
                                      <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                                  </ui-select-choices>
                              </ui-select>
                          </div>
                      </div>
					  <div class="col-md-4">
                              <div pg-form-group class="form-group form-group-default" >
                                  <label>Due Days</label>
                                  <input type="number" class="form-control" name="def_due_days" ng-model="supplier.def_due_days">
                              </div>
                      </div>
                  </div>

                  <div class="col-sm-12">
                      <div pg-form-group class="form-group form-group-default" >
                          <label>Address</label>
                          <input type="text" class="form-control" name="address" ng-model="supplier.address" >
                      </div>
                  </div>
                  <div class="col-sm-12">
                      <div pg-form-group class="form-group form-group-default" >
                          <label>Description</label>
                          <input type="text" class="form-control" name="description" ng-model="supplier.description" >
                      </div>
                  </div>
                  <div class="col-sm-12">
                      <div class="col-md-6">
						  <div pg-form-group class="form-group form-group-default" >
	                          <label>Bank Name</label>
	                          <input type="text" class="form-control" name="description" ng-model="supplier.bank1_name" >
	                      </div>
                      </div>
                      <div class="col-md-6">
						  <div pg-form-group class="form-group form-group-default" >
							<label>Bank Name 2</label>
							<input type="text" class="form-control" name="description" ng-model="supplier.bank2_name" >
						</div>
                      </div>
                  </div>
                  <div class="col-sm-12">
                      <div class="col-md-6">
						  <div pg-form-group class="form-group form-group-default form-group-default-select " >
                              <label>Currency</label>
                              <ui-select ng-model="selected.bank_used_currency.selected" theme="bootstrap" >
                                  <ui-select-match placeholder="set currency">{{$select.selected.code}}</ui-select-match>
                                  <ui-select-choices repeat="item in arr.used_currency | filter: $select.search">
                                      <span ng-bind-html="trustAsHtml((item.code | highlight: $select.search))"></span>
                                  </ui-select-choices>
                              </ui-select>
                          </div>
                      </div>
                      <div class="col-md-6">
						  <div pg-form-group class="form-group form-group-default form-group-default-select ">
                              <label>Currency Bank 2</label>
                              <ui-select ng-model="selected.bank_used_currency2.selected" theme="bootstrap" >
                                  <ui-select-match placeholder="set currency">{{$select.selected.code}}</ui-select-match>
                                  <ui-select-choices repeat="item in arr.used_currency | filter: $select.search">
                                      <span ng-bind-html="trustAsHtml((item.code | highlight: $select.search))"></span>
                                  </ui-select-choices>
                              </ui-select>
                          </div>
                      </div>
                  </div>

                  <div class="col-sm-12">
                      <div class="col-md-6">
						  <div pg-form-group class="form-group form-group-default" >
	                          <label>Rek no</label>
	                          <input type="text" class="form-control" name="description" ng-model="supplier.bank1_account_no" >
	                      </div>
                      </div>
                      <div class="col-md-6">
						  <div pg-form-group class="form-group form-group-default" >
	                          <label>Rek no Bank 2</label>
	                          <input type="text" class="form-control" name="description" ng-model="supplier.bank2_account_no" >
	                      </div>
                      </div>
                  </div>
                  <div class="col-sm-12">
                      <div class="col-md-6">
						  <div pg-form-group class="form-group form-group-default" >
	                          <label>Rek a/n</label>
	                          <input type="text" class="form-control" name="description" ng-model="supplier.bank1_account_owner" >
	                      </div>
                      </div>
                      <div class="col-md-6">
						  <div pg-form-group class="form-group form-group-default" >
	                          <label>Rek a/n bank 2</label>
	                          <input type="text" class="form-control" name="description" ng-model="supplier.bank2_account_owner" >
	                      </div>
                      </div>
                  </div>
				  <div class="col-sm-12">
                      <div class="col-md-6">
						  <div pg-form-group class="form-group form-group-default" >
	                          <label>Bank address</label>
	                          <input type="text" class="form-control" name="description" ng-model="supplier.bank1_address" >
	                      </div>
                      </div>
                      <div class="col-md-6">
						  <div pg-form-group class="form-group form-group-default" >
	                          <label>Bank address 2</label>
	                          <input type="text" class="form-control" name="description" ng-model="supplier.bank2_address" >
	                      </div>
                      </div>
                  </div>
                  <!--<div class="col-sm-12">
                      <div class="col-md-6">
                      </div>
                  </div>-->
                  <br>
                  <div class="clearfix"></div>
                  <button class="btn btn-primary" type="submit" ng-disabled="dodol.$invalid" ng-click="submit()" >Save</button>
                  <button class="btn btn-default"><i class="pg-close"></i> Clear</button>
              </div>






          </form>
      </div>
      <!-- END FORM -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!--END FORM INPUT-->

<!-- START MODAL CONTENT-->
<div class="modal fade slide-up disable-scroll" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-body text-center m-t-20">
                    <h4 class="no-margin p-b-10">Are you sure want to delete {{supplier.name}} ?</h4>
                    <div >
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="execDelete()">Yes</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- END MODAL CONTENT-->
