<style type="text/css" media="print">
    @page {
        size: landscape;
    }
    body * {
        visibility:hidden;
    }
    #printSection, #printSection * {
        visibility:visible;
    }
    #printSection {
        /*position:relative;*/
        width: 100%;
        left:0;
        top:0;
        margin-bottom:20px;
    }
    .center {
        display: inline;
        align-items: center;
    }
    td {
        padding-left: 10px;
        padding-right:10px;
    }
    .small-font {
        font-size: 8pt;
    }


</style>
<div id="printSection">
    <div class="row">
        <table width="98%">
            <tr>
                <td width="40%" align="center">
                    <div class="brand inline text-center center">
                        <img class="center text-center" src="container/img/app/mt_logo.png" alt="logo" data-src="container/img/app/mt_logo.png" data-src-retina="container/img/app/mt_logo.png" width="200" height="40">
                    </div>
                    <br>
                    <!--<span class="text-center" style="align:center;">JL. GUNUNG SAHARI RAYA NO.3 JAKARTA 10720</span>
                    <br>
                    <span class="text-center">PHONE : (62-21) 626 3001</span>&nbsp;&nbsp;
                    <span class="text-center">FAX : (62-21) 626 3024</span>
                    <br>
                    <span class="text-center">NPWP. 01.573.522.8-026.000</span>-->
                </td>
                <td align="center">

                    <table border="0" width="80%" align="center">
                        <tr>
                            <td align="left" style="background-color: #000000;color: white;"><h4>A/P Aging by Vendor</h4></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="left" style="background-color: #000000;color: white;"><b>SUPPLIER NAME:</b></td>
                            <td>
                                {{supp_name}}<br>
                            </td>
                        </tr>

                    </table>
                </td>

            </tr>

        </table>
        <br>
        <table width="89%" cellpadding="5" border="1" align="center">
            <thead>
                <!--<th style="text-align:center;font-size:10px;">Vchr#</th>-->
                <th style="text-align:center;font-size:10px;">Source</th>
                <th style="text-align:center;font-size:10px;">Open Date</th>
                <th style="text-align:center;font-size:10px;">Due Date</th>
                <th style="text-align:center;font-size:10px;">Invoice#</th>
                <!--<th style="text-align:center;font-size:10px;">Age</th>-->
                <!--<th style="text-align:center">Source No</th>-->
                <th style="text-align:center;font-size:10px;">Current</th>
                <th style="text-align:center;font-size:10px;">> 30 Days</th>
                <th style="text-align:center;font-size:10px;">> 60 Days</th>
                <th style="text-align:center;font-size:10px;">> 90 Days</th>
                <th style="text-align:center;font-size:10px;">> 120 Days</th>
                <th style="text-align:center;font-size:10px;">Total</th>
            </thead>
            <tbody>
                <tr ng-repeat="item in x.detailData | filter:filterUser" >
                    <!--<td class="small-font">{{item.id}}</td>-->
                    <td class="small-font">{{item.src}}</td>
                    <td class="small-font">{{item.open_date}}</td>
                    <td class="small-font">{{item.due_date}}</td>
                    <td >{{item.invoice_no}}</td>
                    <!--<td class="small-font">{{item.age}}</td>-->
                    <!--<td>{{item.source_name}}</td>
                    <td>{{item.source_no}}</td>-->
                    <td class="small-font" style="text-align:right;">{{item.current}}</td>
                    <td class="small-font" style="text-align:right;">{{item.over30}}</td>
                    <td class="small-font" style="text-align:right;">{{item.over60}}</td>
                    <td class="small-font" style="text-align:right;">{{item.over90}}</td>
                    <td class="small-font" style="text-align:right;">{{item.over120}}</td>
                    <td class="small-font" style="text-align:right">{{item.total}}</td>
                </tr>
                <tr >
                    <!--<td class="small-font">{{item.id}}</td>-->
                    <td >&nbsp;</td>
                    <td class="small-font">&nbsp;</td>
                    <td class="small-font">&nbsp;</td>
                    <!--<td class="small-font">&nbsp;</td>-->
                    <!--<td>{{item.source_name}}</td>
                    <td>{{item.source_no}}</td>-->
                    <td class="small-font">Total</td>
                    <td class="small-font" style="text-align:right;">{{x.totalCurrent|number:fractionSize}}</td>
                    <td class="small-font" style="text-align:right;">{{x.total30|number:fractionSize}}</td>
                    <td class="small-font" style="text-align:right;">{{x.total60|number:fractionSize}}</td>
                    <td class="small-font" style="text-align:right;">{{x.total90|number:fractionSize}}</td>
                    <td class="small-font" style="text-align:right;">{{x.total120|number:fractionSize}}</td>
                    <td class="small-font" style="text-align:right">{{x.total|number:fractionSize}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<div class="full-height m-t-40">
    <!-- TABLES VIEW -->
    <div class="container-fluid container-fixed-lg">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
            <div class="panel-heading">
                <div class="panel-title">Aging Report
                </div>
                <div class="pull-right" style="width: 60%;">
                    <button id="show-modal" class="btn btn-primary btn-cons pull-right" ng-click="openQuickView('add')" ng-show="buttonCreate"><i class="fa fa-plus"></i> Add Department</button>

                    <div class="input-group date col-sm-4 pull-right m-r-10">
                        <input type="text" id="search-table" class="form-control pull-right" placeholder="Search" ng-keyup="filter('search',$event)" ng-model="filterVal.search">
                    </div>
                    <span ng-click="exportExcel()">
                        <div excel-export export-data="exportData" file-name="{{fileName}}" class="pull-right m-r-5" control="focusinControl" ></div>
                    </span>


                </div>
                <div class="clearfix"></div>
                <div class="tools">
                    <a class="collapse" href="javascript:;"></a>
                    <a class="config" data-toggle="modal" href="#grid-config"></a>
                    <a class="reload" href="javascript:;"></a>
                    <a class="remove" href="javascript:;"></a>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover table-condensed " datatable="" dt-options="nested.dtOptions" dt-columns="nested.dtColumns" dt-instance="nested.dtInstance">
                    </table>
            </div>
        </div>
    </div>
    <!-- END PANEL -->
</div>

<!--START FORM INPUT-->
<div class="modal fade slide-right form-input-full" id="form-input" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content-wrapper">
      <div class="modal-content" style="background-image: url('pages/mtbgform.png');">
      <div class="panel-heading">
       <div class="panel-title">Detail Aging</div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
        </button>
       </div>
        <div class="container-xs-height full-height">
          <div class="row-xs-height">
            <div class="modal-body col-xs-height col-top">

      <!-- START FORM -->
      <div class="panel panel-transparent m-t-20">
          <form id="form-user" role="form" autocomplete="off" name="dodol" novalidate>
              <div class="row clearfix">
                  <div class="col-sm-12">
                      <div ng-controller="DetailApraCtrl" >
                          <div class="row">
                              <div class="col-md-6">
                                  <h5>Supplier Name:&nbsp;&nbsp;{{supp_name}}</h5>
                              </div>
                              <div class="col-md-6 pull-right">
                                  <button class="btn btn-primary pull-right" type="submit" ng-disabled="updateState" ng-print print-element-id="printSection" ng-click="printing=false"><i class="fa fa-print"></i> Print</button>
                              </div>
                          </div>

                          <table class="table table-hover dataTable">
                              <thead>
                                  <th style="text-align:center">Vchr#</th>
                                  <th style="text-align:center">Invoice#</th>
                                  <th style="text-align:center">Open Date</th>
                                  <th style="text-align:center">Due Date</th>
                                  <!--<th style="text-align:center">Age</th>-->
                                  <th style="text-align:center">Source</th>
                                  <th style="text-align:center">Source No</th>
                                  <th style="text-align:right">Current</th>
                                  <th>> 30 Days</th>
                                  <th>> 60 Days</th>
                                  <th>> 90 Days</th>
                                  <th>> 120 Days</th>
                                  <th align="right">Total</th>
                              </thead>
                              <tbody>
                                  <tr ng-repeat="item in detailData | filter:filterUser">
                                      <td>{{item.id}}</td>
                                      <td>{{item.invoice_no}}</td>
                                      <td>{{item.open_date}}</td>
                                      <td>{{item.due_date}}</td>
                                      <!--<td>{{item.age}}</td>-->
                                      <td>{{item.source_name}}</td>
                                      <td>{{item.source_no}}</td>
                                      <td style="text-align:right">{{item.current}}</td>
                                      <td style="text-align:right">{{item.over30}}</td>
                                      <td style="text-align:right">{{item.over60}}</td>
                                      <td style="text-align:right">{{item.over90}}</td>
                                      <td style="text-align:right">{{item.over120}}</td>
                                      <td style="text-align:right">{{item.total}}</td>
                                  </tr>
                                  <tr>
                                      <td >&nbsp;</td>
                                      <td class="small-font">&nbsp;</td>
                                      <td class="small-font">&nbsp;</td>
                                      <td class="small-font">&nbsp;</td>
                                      <!--<td>&nbsp;</td>-->
                                      <td>&nbsp;</td>
                                      <td >Total</td>
                                      <td style="text-align:right;">{{x.totalCurrent|number:fractionSize}}</td>
                                      <td  style="text-align:right;">{{x.total30|number:fractionSize}}</td>
                                      <td  style="text-align:right;">{{x.total60|number:fractionSize}}</td>
                                      <td  style="text-align:right;">{{x.total90|number:fractionSize}}</td>
                                      <td  style="text-align:right;">{{x.total120|number:fractionSize}}</td>
                                      <td  style="text-align:right">{{x.total|number:fractionSize}}</td>
                                  </tr>
                              </tbody>
                          </table>

                        <!--<table datatable=""  dt-options="nested.dtDetailOptions" class="table table-hover " dt-columns="nested.dtDetailColumns"  dt-instance="nested.dtDetailInstance">

                        </table>-->

                    </div>
                  </div>

              </div>

          </form>
      </div>
      <!-- END FORM -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!--END FORM INPUT-->

<!-- START MODAL CONTENT-->
<div class="modal fade slide-up disable-scroll" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-body text-center m-t-20">
                    <h4 class="no-margin p-b-10">Are you sure want to delete {{department.code}} ?</h4>
                    <div >
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="execDelete()">Yes</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- END MODAL CONTENT-->
