
<div class="full-height m-t-40">
    <!-- TABLES VIEW -->
    <div class="container-fluid container-fixed-lg">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
            <div class="panel-heading">
                <div class="panel-title">Outlet
                </div>
                <div class="pull-right" style="width: 60%;">
                    <!--<button id="show-modal2" class="btn btn-primary pull-right" ng-click="openAdvancedFilter(true)" ng-show="buttonCreate"><i class="fa fa-search"></i></button>-->
                    <button id="show-modal" class="btn btn-primary btn-cons pull-right" ng-click="openQuickView('add')" ng-show="buttonCreate"><i class="fa fa-plus"></i> Add Outlet</button>
                    <span ng-click="exportExcel()">
                        <div excel-export export-data="exportData" file-name="{{fileName}}" class="pull-right m-r-5" control="focusinControl" ></div>
                    </span>

                    <div class="input-group date col-sm-4 pull-right m-r-10">
                        <input type="text" id="search-table" class="form-control pull-right" placeholder="Search name..." ng-keyup="filter('search',$event)" ng-model="filterVal.search">
                    </div>

                </div>
                <div class="clearfix"></div>
                <div class="tools">
                    <a class="collapse" href="javascript:;"></a>
                    <a class="config" data-toggle="modal" href="#grid-config"></a>
                    <a class="reload" href="javascript:;"></a>
                    <a class="remove" href="javascript:;"></a>
                </div>
                <!--<div class="panel panel-default m-t-5" pg-portlet ng-show="showAdvance">
                    <div class="panel-heading">
                        <div class="panel-title">Advanced Search
                        </div>
                        <div class="panel-controls">
                            <ul>
                                <li><a href="" ng-click="openAdvancedFilter(false)"><i class="portlet-icon portlet-icon-close"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body" >
                        <div class="btn-group form-group-default-select pull-left  m-r-5">
                            <label>Department:</label><br />
                            <ui-select ng-model="selected.filter_department.selected" theme="bootstrap"  style="width:150px;">
                                <ui-select-match placeholder="Select Department">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item in departments | filter: $select.search">
                                    <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                                </ui-select-choices>
                            </ui-select>
                         </div>
                         <div class="btn-group form-group-default-select pull-left  m-r-5">
                             <label>Account Type:</label><br />
                             <ui-select ng-model="selected.filter_account_type.selected" theme="bootstrap" style="width:150px;">
                                 <ui-select-match placeholder="Select Type">{{$select.selected.name}}</ui-select-match>
                                 <ui-select-choices repeat="item in account_types | filter: $select.search">
                                     <div ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></div>

                                 </ui-select-choices>
                             </ui-select>
                          </div>

                         <div class="btn-group dropdown-default  m-r-5" >
                             <label>&nbsp;</label><br />
                           <button id="show-modal" class="btn btn-primary pull-right m-r-5" ng-click="applyFilter()" ><i class="fa fa-search"></i> Apply</button>

                          </div>

                    </div>
                </div>-->
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover table-condensed " datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" >
                    </table>
            </div>
        </div>
    </div>
    <!-- END PANEL -->
</div>

<!--START FORM INPUT-->
<div class="modal fade slide-right form-input-medium" id="form-input" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content-wrapper">
      <div class="modal-content" style="background-image: url('pages/mtbgform.png');">
      <div class="panel-heading">
       <div class="panel-title">Outlet Information</div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
        </button>
       </div>
        <div class="container-xs-height full-height">
          <div class="row-xs-height">
            <div class="modal-body col-xs-height col-top">

      <!-- START FORM -->
      <div class="panel panel-transparent m-t-20">
          <form id="form-user" role="form" autocomplete="off" name="dodol" novalidate>
              <div class="row clearfix">
                  <div class="col-sm-3">
                      <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : field.name.$invalid && !field.name.$pristine }">
                          <label>Code</label>
                          <input type="text" class="form-control" name="code" ng-model="field.code" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required>
                      </div>
                  </div>
                  <div class="col-sm-9">
                      <div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : field.name.$invalid && !field.name.$pristine }">
                          <label>Name</label>
                          <input type="text" class="form-control" name="name" ng-model="field.name" ui-jq="popover" data-container="body" data-placement="top" data-content="This field is required" data-trigger="manual" validate-attached-form-element required>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-12">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : field.address.$invalid && !field.address.$pristine }">
                          <label>Address</label>
                          <input type="text" class="form-control" name="address" ng-model="field.address" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-12">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : field.bill_footer.$invalid && !field.bill_footer.$pristine }">
                          <label>Bill Footer</label>
                          <input type="text" class="form-control" name="bill_footer" ng-model="field.bill_footer" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                <div class="col-sm-6">
                    <div pg-form-group class="form-group form-group-default form-group-default-select  required" ng-class="{ 'has-error' : field.outlet_type_id.$invalid && !field.outlet_type_id.$pristine }">
                        <label>Outlet Type</label>
                        <ui-select ng-model="selected.outlet_type_id.selected" theme="bootstrap" >
                            <ui-select-match placeholder="select outlet">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item in arr.outlet_type_id | filter: $select.search">
                                <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div pg-form-group class="form-group form-group-default form-group-default-select" ng-class="{ 'has-error' : field.cost_center_id.$invalid && !field.cost_center_id.$pristine }">
                        <label>Cost Center</label>
                        <ui-select ng-model="selected.cost_center_id.selected" theme="bootstrap" >
                            <ui-select-match placeholder="select cost center">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item in arr.cost_center_id | filter: $select.search">
                                <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
              </div>
              <div class="row clearfix">
                <div class="col-sm-4">
                    <div pg-form-group class="form-group form-group-default form-group-default-select" ng-class="{ 'has-error' : field.tax_id.$invalid && !field.tax_id.$pristine }">
                        <label>Tax</label>
                        <ui-select ng-model="selected.tax_id.selected" theme="bootstrap" >
                            <ui-select-match placeholder="select tax">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item in arr.tax_id | filter: $select.search">
                                <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div pg-form-group class="form-group form-group-default form-group-default-select" ng-class="{ 'has-error' : field.is_allow_cancel_tax.$invalid && !field.is_allow_cancel_tax.$pristine }">
                        <label>Allow Cancel Tax</label>
                        <ui-select ng-model="selected.is_allow_cancel_tax.selected" theme="bootstrap" >
                            <ui-select-match placeholder="select">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item in arr.is_allow_cancel_tax | filter: $select.search">
                                <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div pg-form-group class="form-group form-group-default form-group-default-select  required" ng-class="{ 'has-error' : field.status.$invalid && !field.status.$pristine }">
                        <label>Status</label>
                        <ui-select ng-model="selected.status.selected" theme="bootstrap" >
                            <ui-select-match placeholder="select status">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item in arr.status | filter: $select.search">
                                <span ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-12">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : field.delivery_bill_footer.$invalid && !field.delivery_bill_footer.$pristine }">
                          <label>Delivery Bill Footer</label>
                          <input type="text" class="form-control" name="delivery_bill_footer" ng-model="field.delivery_bill_footer" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-12">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : field.m2.$invalid && !field.m2.$pristine }">
                          <label>M2</label>
                          <input type="text" class="form-control" name="m2" ng-model="field.m2" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-12">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : field.last_meal_period.$invalid && !field.last_meal_period.$pristine }">
                          <label>Last Meal Period</label>
                          <input type="text" class="form-control" name="last_meal_period" ng-model="field.last_meal_period" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-12">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : field.curr_meal_period.$invalid && !field.curr_meal_period.$pristine }">
                          <label>Curr Meal Period</label>
                          <input type="text" class="form-control" name="curr_meal_period" ng-model="field.curr_meal_period" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-12">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : field.list_number.$invalid && !field.list_number.$pristine }">
                          <label>List Number</label>
                          <input type="text" class="form-control" name="list_number" ng-model="field.list_number" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-12">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : field.num_of_employee.$invalid && !field.num_of_employee.$pristine }">
                          <label>No Of Employee</label>
                          <input type="text" class="form-control" name="num_of_employee" ng-model="field.num_of_employee" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-12">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : field.fo_gl_journal_code.$invalid && !field.fo_gl_journal_code.$pristine }">
                          <label>FO GL Journal Code</label>
                          <input type="text" class="form-control" name="fo_gl_journal_code" ng-model="field.fo_gl_journal_code" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-12">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : field.bill_image_uri.$invalid && !field.bill_image_uri.$pristine }">
                          <label>Bill Image Uri</label>
                          <input type="text" class="form-control" name="bill_image_uri" ng-model="field.bill_image_uri" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-12">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : field.bill_image_path.$invalid && !field.bill_image_path.$pristine }">
                          <label>Bill Image Path</label>
                          <input type="text" class="form-control" name="bill_image_path" ng-model="field.bill_image_path" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-12">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : field.small_bill_image_uri.$invalid && !field.small_bill_image_uri.$pristine }">
                          <label>Small Bill Image Uri</label>
                          <input type="text" class="form-control" name="small_bill_image_uri" ng-model="field.small_bill_image_uri" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-12">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : field.small_bill_image_path.$invalid && !field.small_bill_image_path.$pristine }">
                          <label>Small Bill Image Path</label>
                          <input type="text" class="form-control" name="small_bill_image_path" ng-model="field.small_bill_image_path" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-12">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : field.printed_bill_image_uri.$invalid && !field.printed_bill_image_uri.$pristine }">
                          <label>Printed Bill Image Uri</label>
                          <input type="text" class="form-control" name="printed_bill_image_uri" ng-model="field.printed_bill_image_uri" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-12">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : field.printed_bill_image_path.$invalid && !field.printed_bill_image_path.$pristine }">
                          <label>Printed Bill Image Path</label>
                          <input type="text" class="form-control" name="printed_bill_image_path" ng-model="field.printed_bill_image_path" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-12">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : field.small_printed_bill_image_uri.$invalid && !field.small_printed_bill_image_uri.$pristine }">
                          <label>Small Printed Bill Image Uri</label>
                          <input type="text" class="form-control" name="small_printed_bill_image_uri" ng-model="field.small_printed_bill_image_uri" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="col-sm-12">
                      <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : field.small_printed_bill_image_path.$invalid && !field.small_printed_bill_image_path.$pristine }">
                          <label>Small Printed Bill Image Path</label>
                          <input type="text" class="form-control" name="small_printed_bill_image_path" ng-model="field.small_printed_bill_image_path" ui-jq="popover" data-container="body" data-placement="top" data-trigger="manual" validate-attached-form-element>
                      </div>
                  </div>
              </div>

              <br>
              <div class="clearfix"></div>
              <button class="btn btn-primary" type="submit" ng-disabled="dodol.$invalid" ng-click="submit()" >Save</button>
              <button class="btn btn-default"><i class="pg-close"></i> Clear</button>
          </form>
      </div>
      <!-- END FORM -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!--END FORM INPUT-->

<!-- START MODAL CONTENT-->
<div class="modal fade slide-up disable-scroll" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-body text-center m-t-20">
                    <h4 class="no-margin p-b-10">Are you sure want to delete {{coa.name}} ?</h4>
                    <div >
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="execDelete()">Yes</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- END MODAL CONTENT-->
