<div class="full-height m-t-40">
    <!-- TABLES VIEW -->
    <div class="container-fluid container-fixed-lg">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
            <div class="panel-heading">
                <div class="panel-title">Shift Audit
                </div>

            </div>
            <div class="panel-body">
                <div class="container-fluid container-fixed-lg m-t-10 p-l-0 p-r-0">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-separator nav-stack-sm">
                        <li ng-class="{'active': getCurrentStep() == 1 }">
                            <a  ><i class="fa fa-indent tab-icon"></i> <span>Status</span></a>
                        </li>
                        <li ng-class="{'active': getCurrentStep() == 2 }">
                            <a  ><i class="fa fa-credit-card tab-icon"></i> <span>Closed Transaction</span></a>
                        </li>
                        <li ng-class="{'active': getCurrentStep() == 3 }">
                            <a ><i class="fa fa-briefcase tab-icon"></i> <span>Guest Deposit</span></a>
                        </li>
                        <li ng-class="{'active': getCurrentStep() == 4 }">
                            <a ><i class="fa fa-check tab-icon"></i> <span>Summary</span></a>
                        </li>
                    </ul>
                    <wizard on-finish="finished()" class="bg-white" hide-indicators="true">
                        <wz-step wz-title="Status">
                            <div class="row row-same-height">
                                <div class="col-md-5 b-r b-dashed b-grey sm-b-b">
                                    <div class="padding-30">
                                        <h4 class="pull-left">Shift Information</h4>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="col-sm-12">
                                                        <h5>Current Shift: {{currentShift.code}}</h5>

                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="checkbox check-primary" >
                                                        <input type="checkbox" id="cbShift1" ng-checked="additional.form.gf.is_incognito==1" ng-true-value="1" ng-model="additional.form.gf.is_incognito" >
                                                        <label for="cbShift1">Shift 1 Closed Status</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="checkbox check-primary" >
                                                        <input type="checkbox" id="cbShift1" ng-checked="additional.form.gf.is_incognito==1" ng-true-value="1" ng-model="additional.form.gf.is_incognito" >
                                                        <label for="cbShift1">Shift 2 Closed Status</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="checkbox check-primary" >
                                                        <input type="checkbox" id="cbShift1" ng-checked="additional.form.gf.is_incognito==1" ng-true-value="1" ng-model="additional.form.gf.is_incognito" >
                                                        <label for="cbShift1">Shift 3 Closed Status</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="checkbox check-primary" >
                                                        <input type="checkbox" id="cbShift1" ng-checked="additional.form.gf.is_incognito==1" ng-true-value="1" ng-model="additional.form.gf.is_incognito" >
                                                        <label for="cbShift1">Closed Transaction</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="checkbox check-primary" >
                                                        <input type="checkbox" id="cbShift1" ng-checked="additional.form.gf.is_incognito==1" ng-true-value="1" ng-model="additional.form.gf.is_incognito" >
                                                        <label for="cbShift1">Guest Deposit</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <button class="btn btn-primary m-t-10" type="submit" >Change Shift</button>
                                                </div>
                                                <div class="row">
                                                    <button class="btn btn-primary m-t-10" type="submit" >Close Shift</button>
                                                </div>
                                            </div>
                                        </div>
                                        <br>

                                    </div>

                                </div>
                                <div class="col-md-7">
                                    <div class="padding-30">
                                        <h5>Active Cashier from {{currentShift.code}}</h5>
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                    <th><b>Cashier Name</b></th>
                                                    <th>Batch ID#</th>
                                                    <th>Start</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Cashier 1</td>
                                                    <td>12345</td>
                                                    <td>2016-01-01 07:00:00</td>
                                                </tr>
                                                <tr>
                                                    <td>Cashier 2</td>
                                                    <td>43214</td>
                                                    <td>2016-01-02 07:00:00</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div>
                            <div class="padding-20 bg-white">
                                <ul class="pager wizard">
                                    <li class="next">
                                        <button type="button" class="btn btn-primary btn-cons btn-animated from-left fa fa-arrow-right pull-right" wz-next ng-click="execClosedTransaction();showClosedTransaction()">
                                            <span>Start Audit</span>
                                        </button>
                                    </li>
                                    <!--<li class="previous disabled">
                                        <button type="button" class="btn btn-default btn-cons pull-right">
                                            <span>Previous</span>
                                        </button>
                                    </li>-->
                                </ul>
                            </div>
                        </wz-step>
                        <wz-step wz-title="Closed Transaction">
                            <div class="row row-same-height">
                                <div class="padding-30">
                                    <h4>Closed Payment Transaction</h4>
                                    <ng-container ng-repeat="item in closedTransaction">
                                        <h5>{{item.payment_type_name}}</h5>
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                    <th >Room Number</th>
                                                    <th >Guest Name</th>
                                                    <th >Transaction Time</th>
                                                    <th style="text-align:center">Total Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr  ng-repeat="item2 in item.data">
                                                    <td>{{item2.room_name}}</td>
                                                    <td>{{item2.cust_name}}</td>
                                                    <td>{{item2.created_date}}</td>
                                                    <td align="right">{{item2.home_payment_amount|number:fractionSize}}</td>
                                                </tr>
                                            </tbody>
                                            <tfooter>
                                                <tr>
                                                    <td colspan="3">{{item.payment_type_name}} Total</td>
                                                    <td align="right">{{item.total|number:fractionSize}}</td>
                                                </tr>
                                            </tfooter>

                                        </table>
                                    </ng-container>

                                    <!--<h5>Cash</h5>
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Room Number</th>
                                                <th>Guest Name</th>
                                                <th>Transaction Time</th>
                                                <th>Total Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1102</td>
                                                <td>Mr. Wahwaw Solikin</td>
                                                <td>08:15</td>
                                                <td>210.000</td>
                                            </tr>
                                        </tbody>
                                        <tfooter>
                                            <tr>
                                                <td colspan="3">Cash Total</td>
                                                <td>210.000</td>
                                            </tr>
                                        </tfooter>

                                    </table>
                                    <h5>Visa</h5>
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Room Number</th>
                                                <th>Guest Name</th>
                                                <th>Transaction Time</th>
                                                <th>Total Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>2102</td>
                                                <td>Mr. Udien Saifuddien</td>
                                                <td>10:15</td>
                                                <td>220.000</td>
                                            </tr>
                                            <tr>
                                                <td>3203</td>
                                                <td>Mr. Rocky Yoliodo</td>
                                                <td>11:02</td>
                                                <td>120.000</td>
                                            </tr>
                                        </tbody>
                                        <tfooter>
                                            <tr>
                                                <td colspan="3">Visa Total</td>
                                                <td>340.000</td>
                                            </tr>
                                        </tfooter>

                                    </table>
                                    <h5>Master Card</h5>
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Room Number</th>
                                                <th>Guest Name</th>
                                                <th>Transaction Time</th>
                                                <th>Total Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>4308</td>
                                                <td>Mr. Teray Putiray</td>
                                                <td>09:22</td>
                                                <td>70.000</td>
                                            </tr>

                                        </tbody>
                                        <tfooter>
                                            <tr>
                                                <td colspan="3">Mastercard Total</td>
                                                <td>70.000</td>
                                            </tr>
                                        </tfooter>

                                    </table>-->

                                </div>
                            </div>
                            <div class="padding-20 bg-white">
                                <ul class="pager wizard">
                                    <li class="next">
                                        <button type="button" class="btn btn-primary btn-cons btn-animated from-left fa fa-arrow-right pull-right" wz-next ng-click="execGuestDeposit();showGuestDeposit()">
                                            <span>Next</span>
                                        </button>
                                    </li>
                                    <!--<li class="previous">
                                        <button type="button" class="btn btn-default btn-cons pull-right" wz-previous>
                                            <span>Previous</span>
                                        </button>
                                    </li>-->
                                </ul>
                            </div>
                        </wz-step>
                        <wz-step wz-title="Guest Deposit">
                            <div class="row row-same-height">
                                <div class="padding-30">
                                    <h4>Check Guest Deposit</h4>


                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Folio ID</th>
                                                <th>Room Number</th>
                                                <th>Guest Name</th>
                                                <th>Transaction Time</th>
                                                <th style="text-align:center">Deposit Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in guestDeposit">
                                                <td>{{item.folio_code}}</td>
                                                <td>{{item.room_name}}</td>
                                                <td>{{item.cust_name}}</td>
                                                <td>{{item.created_date}}</td>
                                                <td align="right">{{item.deposit_amount|number:fractionSize}}</td>
                                            </tr>
                                        </tbody>
                                        <!--<tfooter>
                                            <tr>
                                                <td colspan="4">Total Deposit</td>
                                                <td>4.500.000</td>
                                            </tr>
                                        </tfooter>-->

                                    </table>


                                </div>
                            </div>
                            <div class="padding-20 bg-white">
                                <ul class="pager wizard">
                                    <li class="next">
                                        <button type="button" class="btn btn-primary btn-cons btn-animated from-left fa fa-arrow-right pull-right" wz-next ng-click="execEnd();showEnd()">
                                            <span>Next</span>
                                        </button>
                                    </li>
                                    <!--<li class="previous">
                                        <button type="button" class="btn btn-default btn-cons pull-right" wz-previous>
                                            <span>Previous</span>
                                        </button>
                                    </li>-->
                                </ul>
                            </div>
                        </wz-step>
                        <wz-step wz-title="Summary">
                            <div class="padding-30">
                                <h4 >Preview all Transactions</h4>
                            </div>
                            <div class="padding-20 bg-white">
                                <ul class="pager wizard">
                                    <li class="next">
                                        <button type="button" class="btn btn-primary btn-cons btn-animated from-left fa fa-check pull-right" ng-click="finish()" wz-finish>
                                            <span>Finish</span>
                                        </button>
                                    </li>
                                    <!--<li class="previous">
                                        <button type="button" class="btn btn-default btn-cons pull-right" wz-previous>
                                            <span>Previous</span>
                                        </button>
                                    </li>-->
                                </ul>
                            </div>
                        </wz-step>
                    </wizard>

                </div>
        </div>
    </div>
    <!-- END PANEL -->
</div>
