<div class="full-height m-t-40">
    <!-- TABLES VIEW -->
    <div class="container-fluid container-fixed-lg">
        <!-- START PANEL -->
        <div class="panel panel-transparent">
            <div class="panel-heading">
                <div class="panel-title">Night Audit
                </div>

            </div>
            <div class="panel-body">
                <div class="container-fluid container-fixed-lg m-t-10 p-l-0 p-r-0">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-separator nav-stack-sm">
                        <li ng-class="{'active': getCurrentStep() == 1 }">
                            <a  ><i class="fa fa-indent tab-icon"></i> <span>Status</span></a>
                        </li>
                        <li ng-class="{'active': getCurrentStep() == 2 }">
                            <a  ><i class="fa fa-sign-in tab-icon"></i> <span>Arrivals</span></a>
                        </li>
                        <li ng-class="{'active': getCurrentStep() == 3 }">
                            <a ><i class="fa fa-sign-out tab-icon"></i> <span>Departures</span></a>
                        </li>
                        <li ng-class="{'active': getCurrentStep() == 4 }">
                            <a ><i class="fa fa-hotel tab-icon"></i> <span>Room Posting</span></a>
                        </li>
                        <li ng-class="{'active': getCurrentStep() == 5 }">
                            <a ><i class="fa fa-glass tab-icon"></i> <span>POS</span></a>
                        </li>
                        <li ng-class="{'active': getCurrentStep() == 6 }">
                            <a ><i class="fa fa-book tab-icon"></i> <span>City Ledger</span></a>
                        </li>
                        <li ng-class="{'active': getCurrentStep() == 7 }">
                            <a ><i class="fa fa-check tab-icon"></i> <span>Statistic Update</span></a>
                        </li>
                    </ul>
                    <wizard on-finish="finished()" class="bg-white" hide-indicators="true">
                        <wz-step title="Status">
                            <div class="row row-same-height">
                                <div class="col-md-5 b-r b-dashed b-grey sm-b-b">
                                    <div class="padding-30">
                                        <h4 class="pull-left">Audit Information</h4>
                                        <button class="btn btn-primary pull-right m-t-10" type="submit" >Change Period</button>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h5>Current Period: 2017-01</h5>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="checkbox check-primary" >
                                                    <input type="checkbox" id="cbShift1" ng-checked="additional.form.gf.is_incognito==1" ng-true-value="1" ng-model="additional.form.gf.is_incognito" >
                                                    <label for="cbShift1">Shift 1 Closed Status</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="checkbox check-primary" >
                                                    <input type="checkbox" id="cbShift1" ng-checked="additional.form.gf.is_incognito==1" ng-true-value="1" ng-model="additional.form.gf.is_incognito" >
                                                    <label for="cbShift1">Shift 2 Closed Status</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="checkbox check-primary" >
                                                    <input type="checkbox" id="cbShift1" ng-checked="additional.form.gf.is_incognito==1" ng-true-value="1" ng-model="additional.form.gf.is_incognito" >
                                                    <label for="cbShift1">Shift 3 Closed Status</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="checkbox check-primary" >
                                                    <input type="checkbox" id="cbShift1" ng-checked="additional.form.gf.is_incognito==1" ng-true-value="1" ng-model="additional.form.gf.is_incognito" >
                                                    <label for="cbShift1">Pending Arrivals</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="checkbox check-primary" >
                                                    <input type="checkbox" id="cbShift1" ng-checked="additional.form.gf.is_incognito==1" ng-true-value="1" ng-model="additional.form.gf.is_incognito" >
                                                    <label for="cbShift1">Pending Departures</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="checkbox check-primary" >
                                                    <input type="checkbox" id="cbShift1" ng-checked="additional.form.gf.is_incognito==1" ng-true-value="1" ng-model="additional.form.gf.is_incognito" >
                                                    <label for="cbShift1">Room Charge Not Posted</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="checkbox check-primary" >
                                                    <input type="checkbox" id="cbShift1" ng-checked="additional.form.gf.is_incognito==1" ng-true-value="1" ng-model="additional.form.gf.is_incognito" >
                                                    <label for="cbShift1">Point of Sales Transaction</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="checkbox check-primary" >
                                                    <input type="checkbox" id="cbShift1" ng-checked="additional.form.gf.is_incognito==1" ng-true-value="1" ng-model="additional.form.gf.is_incognito" >
                                                    <label for="cbShift1">City Ledger & Comission Transfer</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="checkbox check-primary" >
                                                    <input type="checkbox" id="cbShift1" ng-checked="additional.form.gf.is_incognito==1" ng-true-value="1" ng-model="additional.form.gf.is_incognito" >
                                                    <label for="cbShift1">Statistic Update</label>
                                                </div>
                                            </div>
                                        </div>
                                        <br>

                                    </div>

                                </div>
                                <div class="col-md-7">
                                    <div class="padding-30">
                                        <div class="col-md-6 p-l-0"><b>Extend & Checked Out MICE: </b></div>
                                        <div class="col-md-6">12</div>

                                        <div class="col-md-6 p-l-0"><b>No Show Guest: </b></div>
                                        <div class="col-md-6">5</div>

                                        <div class="col-md-6 p-l-0"><b>Closed transaction: </b></div>
                                        <div class="col-md-6">15</div>

                                        <div class="col-md-6 p-l-0"><b>Room Charge Not Posted:</b> </div>
                                        <div class="col-md-6">4</div>

                                        <div class="col-md-6 p-l-0"><b>POS Not Closed: </b></div>
                                        <div class="col-md-6">2</div>

                                        <br />
                                        <h5>Active Cashier from shift #1</h5>
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                    <th><b>Cashier Name</b></th>
                                                    <th>Batch ID#</th>
                                                    <th>Start</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Cashier 1</td>
                                                    <td>12345</td>
                                                    <td>2016-01-01 07:00:00</td>
                                                </tr>
                                                <tr>
                                                    <td>Cashier 2</td>
                                                    <td>43214</td>
                                                    <td>2016-01-02 07:00:00</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div>
                            <div class="padding-20 bg-white">
                                <ul class="pager wizard">
                                    <li class="next">
                                        <button type="button" class="btn btn-primary btn-cons btn-animated from-left fa fa-arrow-right pull-right" wz-next>
                                            <span>Next</span>
                                        </button>
                                    </li>
                                    <li class="previous disabled">
                                        <button type="button" class="btn btn-default btn-cons pull-right">
                                            <span>Previous</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </wz-step>
                        <wz-step title="Pending Arrivals">
                            <div class="row row-same-height">
                                <div class="padding-30">
                                    <h4>No Show Guest</h4>
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Room</th>
                                                <th>Guest Name</th>
                                                <th>Company</th>
                                                <th>Depart</th>
                                                <th>Folio</th>
                                                <th>Group</th>
                                                <th>Rate Code</th>
                                                <th>Pax</th>
                                                <th>Room Rate</th>
                                                <th>Balance</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1108</td>
                                                <td>Mr. Indrax Xusumax</td>
                                                <td>No Mad EN</td>
                                                <td>2017-01-01</td>
                                                <td>123456</td>
                                                <td>1236</td>
                                                <td>OTA HIGH</td>
                                                <td>2</td>
                                                <td>1.200.000</td>
                                                <td>(2.000.000)</td>
                                            </tr>
                                            <tr>
                                                <td>1108</td>
                                                <td>Mr. Indrax Xusumax</td>
                                                <td>No Mad EN</td>
                                                <td>2017-01-01</td>
                                                <td>123456</td>
                                                <td>1236</td>
                                                <td>OTA HIGH</td>
                                                <td>2</td>
                                                <td>1.200.000</td>
                                                <td>(2.000.000)</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="padding-20 bg-white">
                                <ul class="pager wizard">
                                    <li class="next">
                                        <button type="button" class="btn btn-primary btn-cons btn-animated from-left fa fa-arrow-right pull-right" wz-next>
                                            <span>Next</span>
                                        </button>
                                    </li>
                                    <li class="previous">
                                        <button type="button" class="btn btn-default btn-cons pull-right" wz-previous>
                                            <span>Previous</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </wz-step>
                        <wz-step title="Pending Departures">
                            <div class="row row-same-height">
                                <div class="padding-30">
                                    <h4>Extend Guest</h4>


                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Status</th>
                                                <th>Guest Name</th>
                                                <th>Room</th>
                                                <th>Company</th>
                                                <th>Arrival</th>
                                                <th>Folio</th>
                                                <th>Group</th>
                                                <th>Balance</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>In House</td>
                                                <td>Mr. Indrax Xusumax</td>
                                                <td>1108</td>
                                                <td>No Mad EN</td>
                                                <td>2017-01-01</td>
                                                <td>123456</td>
                                                <td>1236</td>
                                                <td>(12.000.000)</td>
                                            </tr>
                                            <tr>
                                                <td>In House</td>
                                                <td>Mr. Dien Ciet</td>
                                                <td>1108</td>
                                                <td>Bwi Bwier</td>
                                                <td>2017-01-01</td>
                                                <td>123456</td>
                                                <td>1236</td>
                                                <td>(5.000.000)</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="padding-20 bg-white">
                                <ul class="pager wizard">
                                    <li class="next">
                                        <button type="button" class="btn btn-primary btn-cons btn-animated from-left fa fa-arrow-right pull-right" wz-next>
                                            <span>Next</span>
                                        </button>
                                    </li>
                                    <li class="previous">
                                        <button type="button" class="btn btn-default btn-cons pull-right" wz-previous>
                                            <span>Previous</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </wz-step>
                        <wz-step title="Room Charge Not Posted">
                            <div class="row row-same-height">
                                <div class="padding-30">
                                    <h4>Room Not Posted</h4>
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Room</th>
                                                <th>Guest Name</th>
                                                <th>Company</th>
                                                <th>Depart</th>
                                                <th>Folio</th>
                                                <th>Group</th>
                                                <th>Rate Code</th>
                                                <th>Pax</th>
                                                <th>Room Rate</th>
                                                <th>Balance</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1108</td>
                                                <td>Mr. Indrax Xusumax</td>
                                                <td>No Mad EN</td>
                                                <td>2017-01-01</td>
                                                <td>123456</td>
                                                <td>1236</td>
                                                <td>OTA HIGH</td>
                                                <td>2</td>
                                                <td>1.200.000</td>
                                                <td>(2.000.000)</td>
                                            </tr>
                                            <tr>
                                                <td>1108</td>
                                                <td>Mr. Indrax Xusumax</td>
                                                <td>No Mad EN</td>
                                                <td>2017-01-01</td>
                                                <td>123456</td>
                                                <td>1236</td>
                                                <td>OTA HIGH</td>
                                                <td>2</td>
                                                <td>1.200.000</td>
                                                <td>(2.000.000)</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="padding-20 bg-white">
                                <ul class="pager wizard">
                                    <li class="next">
                                        <button type="button" class="btn btn-primary btn-cons btn-animated from-left fa fa-arrow-right pull-right" wz-next>
                                            <span>Next</span>
                                        </button>
                                    </li>
                                    <li class="previous">
                                        <button type="button" class="btn btn-default btn-cons pull-right" wz-previous>
                                            <span>Previous</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </wz-step>
                        <wz-step title="POS Transaction">
                            <div class="row row-same-height">
                                <div class="padding-30">
                                    <h4>Point of Sales Transactions</h4>
                                    <div class="panel panel-transparent">
                                        <ul class="nav nav-tabs nav-tabs-simple nav-tabs-left bg-white" id="tab-3">
                                            <li class="active">
                                                <a data-toggle="tab" pg-tab href="#tabOutlet">Outlet List</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" pg-tab href="#tabRoomCharge">Room Charge</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content bg-white">
                                            <div class="tab-pane active" id="tabOutlet">
                                                <div class="row ">
                                                    <div class="col-md-12">
                                                        <table class="table table-condensed">
                                                            <thead>
                                                                <tr>
                                                                    <th>Outlet</th>
                                                                    <th>Name</th>
                                                                    <th>Date</th>
                                                                    <th>Meal</th>
                                                                    <th>Description</th>
                                                                    <th>Folio</th>
                                                                    <th>Journal Code</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>BQ</td>
                                                                    <td>Banquet</td>
                                                                    <td>2017-01-01</td>
                                                                    <td>LC</td>
                                                                    <td>Lunch</td>
                                                                    <td>12345</td>
                                                                    <td>FB</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>BQW</td>
                                                                    <td>Banquet Wedding</td>
                                                                    <td>2017-01-01</td>
                                                                    <td>DN</td>
                                                                    <td>Dinner</td>
                                                                    <td>12345</td>
                                                                    <td>FB</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane " id="tabRoomCharge">
                                                <div class="row ">
                                                    <div class="col-md-12">
                                                        <table class="table table-condensed">
                                                            <thead>
                                                                <tr>
                                                                    <th>Outlet</th>
                                                                    <th>Name</th>
                                                                    <th>Trans#</th>
                                                                    <th>Meal</th>
                                                                    <th>User</th>
                                                                    <th>Guest Name</th>
                                                                    <th>Folio</th>
                                                                    <th>Room</th>
                                                                    <th>Amount</th>
                                                                    <th>Remark</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>IR</td>
                                                                    <td>In Room Dining</td>
                                                                    <td>110212</td>
                                                                    <td>BF</td>
                                                                    <td>FO</td>
                                                                    <td>MR. Maknyus</td>
                                                                    <td>12345</td>
                                                                    <td>1102</td>
                                                                    <td>100.000</td>
                                                                    <td>Transfered</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <button class="btn btn-primary pull-right" type="submit" ng-click="message.action.addnewMessage()" >Verify</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="padding-20 bg-white">
                                <ul class="pager wizard">
                                    <li class="next">
                                        <button type="button" class="btn btn-primary btn-cons btn-animated from-left fa fa-arrow-right pull-right" wz-next>
                                            <span>Next</span>
                                        </button>
                                    </li>
                                    <li class="previous">
                                        <button type="button" class="btn btn-default btn-cons pull-right" wz-previous>
                                            <span>Previous</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </wz-step>
                        <wz-step title="City Ledger & Comission Transfer">
                            <div class="row row-same-height">
                                <div class="padding-30">
                                    <h4>Credit Card & City Ledger Transfer Report</h4>
                                    <button class="btn btn-primary pull-right m-t-10" type="submit" >Change Date</button>
                                    <br />
                                    <p>This application will transfer all City Ledger Transaction to Account Receivable</p>
                                    <h5>Source: CC</h5>
                                    <h5><b>BCA Master</b></h5>
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Room Number</th>
                                                <th>Folio</th>
                                                <th>Guest Name</th>
                                                <th>Arrival</th>
                                                <th>Departure</th>
                                                <th>Type</th>
                                                <th>Source</th>
                                                <th>Status</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1102</td>
                                                <td>12345</td>
                                                <td>Mr. Wahwaw Solikin</td>
                                                <td>2017-02-02</td>
                                                <td>2017-02-03</td>
                                                <td>BCA Master</td>
                                                <td>FO</td>
                                                <td></td>
                                                <td>210.000</td>
                                            </tr>
                                        </tbody>
                                        <tfooter>
                                            <tr>
                                                <td colspan="8">Total</td>
                                                <td>210.000</td>
                                            </tr>
                                        </tfooter>

                                    </table>
                                    <h5><b>BCA Visa</b></h5>
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Room Number</th>
                                                <th>Folio</th>
                                                <th>Guest Name</th>
                                                <th>Arrival</th>
                                                <th>Departure</th>
                                                <th>Type</th>
                                                <th>Source</th>
                                                <th>Status</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1102</td>
                                                <td>12345</td>
                                                <td>Mr. Wahwaw Solikin</td>
                                                <td>2017-02-02</td>
                                                <td>2017-02-03</td>
                                                <td>BCA VISA</td>
                                                <td>FO</td>
                                                <td></td>
                                                <td>210.000</td>
                                            </tr>
                                        </tbody>
                                        <tfooter>
                                            <tr>
                                                <td colspan="8">Total</td>
                                                <td>210.000</td>
                                            </tr>
                                        </tfooter>

                                    </table>
                                    <h5><b>Mandiri Visa</b></h5>
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Room Number</th>
                                                <th>Folio</th>
                                                <th>Guest Name</th>
                                                <th>Arrival</th>
                                                <th>Departure</th>
                                                <th>Type</th>
                                                <th>Source</th>
                                                <th>Status</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1102</td>
                                                <td>12345</td>
                                                <td>Mr. Wahwaw Solikin</td>
                                                <td>2017-02-02</td>
                                                <td>2017-02-03</td>
                                                <td>Mandiri VISA</td>
                                                <td>FO</td>
                                                <td></td>
                                                <td>210.000</td>
                                            </tr>
                                        </tbody>
                                        <tfooter>
                                            <tr>
                                                <td colspan="8">Total</td>
                                                <td>210.000</td>
                                            </tr>
                                        </tfooter>

                                    </table>
                                    <h5>Source: CL</h5>
                                    <h5><b>Agoda Company</b></h5>
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Room Number</th>
                                                <th>Folio</th>
                                                <th>Guest Name</th>
                                                <th>Arrival</th>
                                                <th>Departure</th>
                                                <th>Type</th>
                                                <th>Source</th>
                                                <th>Status</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1102</td>
                                                <td>12345</td>
                                                <td>Mr. Wahwaw Solikin</td>
                                                <td>2017-02-02</td>
                                                <td>2017-02-03</td>
                                                <td>BCA Master</td>
                                                <td>FO</td>
                                                <td></td>
                                                <td>210.000</td>
                                            </tr>
                                        </tbody>
                                        <tfooter>
                                            <tr>
                                                <td colspan="8">Total</td>
                                                <td>210.000</td>
                                            </tr>
                                        </tfooter>

                                    </table>
                                    <h5><b>Traveloka </b></h5>
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Room Number</th>
                                                <th>Folio</th>
                                                <th>Guest Name</th>
                                                <th>Arrival</th>
                                                <th>Departure</th>
                                                <th>Type</th>
                                                <th>Source</th>
                                                <th>Status</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1102</td>
                                                <td>12345</td>
                                                <td>Mr. Wahwaw Solikin</td>
                                                <td>2017-02-02</td>
                                                <td>2017-02-03</td>
                                                <td>BCA VISA</td>
                                                <td>FO</td>
                                                <td></td>
                                                <td>210.000</td>
                                            </tr>
                                        </tbody>
                                        <tfooter>
                                            <tr>
                                                <td colspan="8">Total</td>
                                                <td>210.000</td>
                                            </tr>
                                        </tfooter>

                                    </table>

                                </div>
                            </div>
                            <div class="padding-20 bg-white">
                                <ul class="pager wizard">
                                    <li class="next">
                                        <button type="button" class="btn btn-primary btn-cons btn-animated from-left fa fa-arrow-right pull-right" wz-next>
                                            <span>Next</span>
                                        </button>
                                    </li>
                                    <li class="next">
                                        <button type="button" class="btn btn-primary btn-cons btn-animated from-left fa fa-arrow-right pull-right">
                                            <span>Transfer</span>
                                        </button>
                                    </li>
                                    <li class="previous">
                                        <button type="button" class="btn btn-default btn-cons pull-right" wz-previous>
                                            <span>Previous</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </wz-step>
                        <wz-step title="Summary">
                            <div class="padding-30">
                                <h4 >Preview all Transactions</h4>
                            </div>
                            <div class="padding-20 bg-white">
                                <ul class="pager wizard">
                                    <li class="next">
                                        <button type="button" class="btn btn-primary btn-cons btn-animated from-left fa fa-check pull-right" ng-click="finish()" wz-finish>
                                            <span>Process</span>
                                        </button>
                                    </li>
                                    <li class="previous">
                                        <button type="button" class="btn btn-default btn-cons pull-right" wz-previous>
                                            <span>Previous</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </wz-step>
                    </wizard>

                </div>
        </div>
    </div>
    <!-- END PANEL -->
</div>
